<section class="porque">
  <h2 class="enfocamos">NOS ENFOCAMOS</h2>
  <h2 class="llevar">EN ELEVAR TU LEGADO</h2>

  <div class="porque__texto">
    <p>
      Es cierto. Cuando compras una propiedad en Dubai apuntas a una inversión
      de lujo, sofisticación y experiencia audaz. En Scorpion Property vamos más
      allá
      <strong>
        identificando los proyectos potenciales de los desarrolladores
        establecidos para garantizar la obtención de rendimientos realistas que
        exceden las expectativas de cualquier otro para su inversión.
      </strong>
    </p>
    <img src="../../../../../assets/img/grafico1.svg" class="rombo" />
    <p class="izquierda">
      Nos movemos por el mejor interés de nuestros inversores y patrocinadores
      con historial comprobado de resultados notables, identificando los
      proyectos potenciales de los desarrolladores para garantizar la obtención
      de rendimientos superiores en el retorno de la inversión .
    </p>

    <p class="derecha">
     <b>RETORNO CON</b> 
      <br />
      <b>ENFOQUE AUDAZ Y</b> 
      <br />
      <b>EFECTIVO</b>
    </p>
    <p class="derecha__2"><b>8% al 15%</b></p>
  </div>
  <div class="porque__texto2">
    <img src="../../../../../assets/img/grafico1.svg" class="rombo" />
    <p class="inicial"><b>VERSATILIDAD TRANSACCIONAL </b> </p>
    <h2><b>USD  / DEA/  CRYPTO </b> </h2>
    <p class="derecha">Transacciones sin problemas de varios
      modos de pago, incluido Efectivo / Crypto y
      oportunidad de cobrar la conversión de USD
      a DEA</p>

  </div>
  
</section>
