<section class="porque">
  <div class="porque__columna izquierda"></div>
  <div class="porque__columna medio">
    <h2>NOS ENFOCAMOS</h2>
    <h2 class="titulo-color"><span>EN ELEVAR TU LEGADO</span></h2>
    <p>
      Es cierto. Cuando compras una propiedad en Dubai apuntas a una inversión
      de lujo, sofisticación y experiencia audaz. En Scorpion Property vamos más
      allá
      <span
        >identificando los proyectos potenciales de los desarrolladores
        establecidos para garantizar la obtención de rendimientos realistas que
        exceden las expectativas de cualquier otro para su inversión.</span
      >
    </p>
    <div class="porque__tarjeta uno">
      <p>
        Nos movemos por el mejor interés de nuestros inversores y patrocinadores
        con historial comprobado de resultados notables, identificando los
        proyectos potenciales de los desarrolladores para garantizar la
        obtención de rendimientos superiores en el retorno de la inversión.
      </p>
      <img src="../../../../../assets/img/rombo.svg" alt="" />
      <div class="porque__tarjeta-titulo">
        <p>RETORNO CON ENFOQUE AUDAZ Y EFECTIVO</p>
        <h2>8% al 15%</h2>
      </div>
    </div>
    <div class="porque__tarjeta dos">
      <p>
        Transacciones sin problemas de varios modos de pago, incluido Efectivo /
        Crypto y oportunidad de cobrar la conversión de USD a DEA
      </p>
      <img src="../../../../../assets/img/rombo.svg" alt="" />
      <div class="porque__tarjeta-titulo">
        <p>VERSATILIDAD TRANSACCIONAL</p>
        <h2>USD / DEA/ CRYPTO</h2>
      </div>
    </div>
    <div class="porque__tarjeta tres">
      <p>
        Ofrecemos la oportunidad de evitar las tasas progresivas del impuesto
        sobre la renta en el país y en su lugar invertir en Dubai para acumular
        ganancias.
      </p>
      <img src="../../../../../assets/img/rombo.svg" alt="" />
      <div class="porque__tarjeta-titulo">
        <p>SUS EXPECTATIVAS SON SOLO EL COMIENZO</p>
        <h2>RENTABILIDAD</h2>
      </div>
    </div>
    <div class="porque__tarjeta cuatro">
      <p>
        Fácil compra, venta y gestión de propiedades a través de las oficinas de
        SCORPION PROPERTY de Dubai y Colombia. Salida fácil con la intimación
        predefinida después de la finalización del período de bloqueo estimado
        de las devoluciones. No se requiere viajar para comprar, vender o
        administrar sus propiedades en Dubai.
      </p>
      <img src="../../../../../assets/img/rombo.svg" alt="" />
      <div class="porque__tarjeta-titulo">
        <h2>DESEMPEÑO EXCESIVO</h2>
      </div>
    </div>
  </div>
  <div class="porque__columna derecha"></div>
</section>
