@import "../../../../styles/variables";
@font-face {
    font-family: Poppins;
    src: url(../../../../../assets/fonts/Poppins-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: Apollo;
    src: url(../../../../../assets/fonts/APOLLO.otf) format("opentype");
  }
.porque{
  display: flex;
  .porque__columna {
    width: 20%;
    &.izquierda {
      background: url(../../../../../assets/img/textura_porque.svg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.derecha {
      background: url(../../../../../assets/img/textura_porque.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
      transform: scaleX(-1);
    }
    &.medio {
      padding: 7vh 0;
      width: 60%;
      margin: 0 auto;
      h2 {
        font-size: 3.5rem;
        text-align: center;
        &.titulo-color {
          text-align: center;
          color: $dorado;
          margin-bottom: 7vh;
        }
      }
      p {
        color: $dorado;
        span {
          font-weight: 600;
          color: $azul;
        }
      }

      .porque__tarjeta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5vh 0;
        border-bottom: 1px $dorado solid;
        p {
          width: 45%;
        }
        img {
          width: 10%;
          padding: 0 4%;
        }
        .porque__tarjeta-titulo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 45%;
          p {
            width: 100%;
            letter-spacing: 3px;
            color: $dorado;
          }
          h2 {
            width: 100%;
            color: $azul;
            text-align: center;
            font-size: 2.2rem;
          }
        }
        &.dos, &.cuatro {
          flex-direction: row-reverse;
        }
        &.tres {
          .porque__tarjeta-titulo {
            flex-direction: column-reverse;
          }
        }
        &.cuatro {
          border: none;
        }
      }
    }
  }
}
