@import "../../../../styles/variables";
@font-face {
    font-family: Poppins;
    src: url(../../../../../assets/fonts/Poppins-Regular.ttf) format("truetype");
  }
  
  @font-face {
    font-family: Apollo;
    src: url(../../../../../assets/fonts/APOLLO.otf) format("opentype");
  }
.porque{
    background-color: $crema;
    align-content: center;
    h2{
        &.enfocamos{
            color: $azul;
            text-align: center;
            font-size:3rem;
        }
        &.llevar{
            color: $dorado;
            text-align: center;
            font-size: 3rem;
        }
    }
    img{
        &.izquierda{
            position: relative;
            top: 40vw;
            left: 0;
            z-index: 2;
            width: 40vw;
        }
    }
    .porque__texto{
        margin-top: 2vw;
        margin-left: 20vw;
        margin-right: 20vw;
        img{
            &.rombo{
                position: relative;
                width: 1vw;
                margin-bottom: -10vw;
                margin-left: 30vw;
            }
            &.rombo__2{
                position: relative;
                width: 1vw;
                margin-bottom: -50px;
                margin-left: 700px;
            }
        }
        p{
            text-align: start;
            color: $gris;
            font-size: 1 rem;
            strong{
                color: $azul;
            }
            &.izquierda{
                margin-top: 100px;
                margin-left: 20px;
                width: 25vw;
                color: $gris;
                text-align: start;
            }
            &.izquierda__2{
                color: $gris;
                width: 25vw;
            }
            &.derecha{
                margin-left: 40vw;
                width: 20vw;
                margin-top: -6vw;
                color: $dorado;
                font-size: 1rem;
                text-align: start;
            }
            &.derecha__2{
                color: $azul;
                width: 40vw;
                text-align: start;
                font-size: 2.5rem;
                margin-left: 40vw;
                font-family: Apollo;
            }
            &.derecha__3{
                margin-left: 900px;
                color: $dorado;
                font-size: 1.5rem;
                text-align: start;
            }
            &.derecha__4{
                margin-top: -100px;
                color: $azul;
                width: 40vw;
                text-align: start;
                font-size: 2.5rem;
                margin-left: 900px;
                font-family: Apollo;
            }

        }
        
    }
    .porque__texto2{
        
        margin-left: 10vw ;
        text-align: start;
        img{
            &.rombo{
                position: relative;
                width: 1vw;
                margin-top: 10vw;
                margin-left: 40vw ;
            }
            
        }
        h2{
            text-align: start;
            margin-left: 40vw;
            color: $azul;
        }
        p{
            &.inicial{
                margin-top: 1vw;
                margin-left: 12vw;
                text-align: start;
                color: $dorado;
                
            }
            &.derecha{
                font-size: 1.3rem;
               margin-top: -4vw;
                margin-left: 48vw;
                width: 25vw;
                color: $gris;
                text-align: start;
            }
        }
    }
}