<section class="porque">
  <h2 class="enfocamos">NOS ENFOCAMOS</h2>
  <h2 class="llevar">EN LLEVAR TU LEGADO</h2>

  <div class="porque__texto">
    <p>
      Es cierto. Cuando compras una propiedad en Dubai apuntas a una inversión
      de lujo, sofisticación y experiencia audaz. En Scorpion Property vamos más
      allá
      <strong>
        identificando los proyectos potenciales de los desarrolladores
        establecidos para garantizar la obtención de rendimientos realistas que
        exceden las expectativas de cualquier otro para su inversión.
      </strong>
    </p>

    <p class="izquierda">
        Nos movemos por el mejor interés de
nuestros inversores y patrocinadores con
historial comprobado de resultados
notables, identificando los proyectos
potenciales de los desarrolladores para
garantizar la obtención de rendimientos
superiores en el retorno de la inversión .
    </p>
    <img src="../../../../../assets/img/grafico1.svg" class="rombo">
    <p class="derecha">
        RETORNO CON
    <br>
        ENFOQUE AUDAZ Y
    <br>
        EFECTIVO
    </p>
    <p class="derecha__2"><b>8% al 15%</b> </p>
    
  </div>
</section>
