<section class="emaar">
  <div class="emaar__columna izquierda"></div>
  <div class="emaar__columna medio">
    <img src="../../../../../assets/img/logo_headerr.svg" />
    <h2><strong>LA CONFIANZA SOLO PUEDE SER</strong></h2>
    <h2><strong>EXPLICADA EN</strong><strong class="azul"> CIFRAS</strong></h2>
    <p>+12</p>

    <div class="contador ocultar"><div class="contador_cantidad" data-cantidad-total="200">0</div></div>
<div class="contador ocultar"><div class="contador_cantidad" data-cantidad-total="300">0</div></div>
<div class="contador ocultar"><div class="contador_cantidad" data-cantidad-total="400">0</div></div>
  </div>
  <div class="emaar__columna derecha"></div>
  <script src="./script.js"></script>
</section>
