@import "../../../../styles/variables";
@font-face {
    font-family: Poppins;
    src: url(../../../../../assets/fonts/Poppins-Regular.ttf) format("truetype");
  }


  .emaar{
    display: flex;
    background: $crema;
    .emaar__columna {
      width: 10%;
      &.izquierda {
        background: url(../../../../../assets/img/textura_porque.svg);
        background-size: cover;
        background-repeat: no-repeat;
      }
      &.derecha {
        background: url(../../../../../assets/img/textura_porque.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        transform: scaleX(-1);
      }
      &.medio {
        padding: 7vh 0;
        width: 60%;
        margin: 0 auto;
        
        img{
            width: 35%;
            margin-top: 7vh;
            margin-left: 40vh;
            margin-bottom: 3vh;
        }
        h2 {
          font-size: 1.5rem;
          text-align: center;
          color: $dorado;
          font-family: Poppins;
          &.titulo-color {
            color: $dorado;
            margin-bottom: 7vh;
          }
          strong{
            &.azul{
                color: $azul;
            }
          }
        } 
        .emaar__cuadro{
          h2{
            color:$azul;
            font-size: 4rem;
            font-weight: 600;
          }
          &.izquierda{
            margin-left: -88vh;
            p{
              margin-left: 86vh;
              color: $gris;
              font-size: 1rem;
              text-align: left;
              width: 50%;
            }
          }
          &.centro{
            margin-top: -19vh;
            margin-left: 4vh;
            p{
              color: $gris;
              font-size: 1rem;
              text-align: left;
              width: 70%;
              margin-left: 38vh;
            }
          }
          
          &.derecha{
            margin-top: -19.3vh;
            margin-left: 87vh;
            p{
              text-align: left;
              color: $gris;
              width: 100%;
              margin-left: 0vh;
            }
          }
        } 
        .emaar__tarjeta {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5vh 0;
          
          p {
            width: 45%;
          }
          img {
            width: 10%;
            padding: 0 4%;
          }
          .emaar__tarjeta-numero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 45%;
            
            p {
              margin-left: 15vh;
              font-weight: 800;
              width: 100%;
              font-size: 4rem;
              letter-spacing: 3px;
              color: $azul;
              text-align: center;
              &.letra__pequena{
              margin-left: 35vh;
              text-align: left;
              width: 50%;
              color: $gris;
              font-size: 0.8rem;
              }
            }
            
          }
          &.derecha {
            margin-top: -27.9vh;
            margin-left: 40vh;
            .emaar__tarjeta-numero {
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 45%;
              
              p {
                margin-left: 15vh;
                font-weight: 800;
                width: 100%;
                font-size: 4rem;
                letter-spacing: 3px;
                color: $azul;
                text-align: center;
                &.letra__pequena{
                margin-left: 27vh;
                text-align: left;
                width: 70%;
                color: $gris;
                font-size: 0.8rem;
                }
              }
              
            }
          }
          
        }

        

      }
    }
  }
  
  @media screen and (max-width: 1024px) {
    .porque {
      padding-top: 50px;
      .porque__columna{
        width: 0;
        &.medio {
          width: 80%;
          padding: 0;
          h2 {
            font-size: 2rem;
            text-align: left;
          }
          .porque__tarjeta {
            padding: 50px 0;
            flex-direction: column-reverse;
            p {
              width: 100%;
            }
            img {
              margin: 25px 0;
            }
            .porque__tarjeta-titulo {
              width: 100%;
              text-align: center;
              h2 {
                font-size: 1.5rem;
              }
            }
            &.dos, &.cuatro {
              flex-direction: column-reverse;
            }
          }
        }
      }
    }
  }
 