<section class="emaar">
  <div class="emaar__columna izquierda"></div>
  <div class="emaar__columna medio">
    <img src="../../../../../assets/img/logo_headerr.svg" />
    <h2><strong>LA CONFIANZA SOLO PUEDE SER</strong></h2>
    <h2><strong>EXPLICADA EN</strong><strong class="azul"> CIFRAS</strong></h2>
    <div class="emaar__tarjeta izquierda">
      <div class="emaar__tarjeta-numero">
        <p><span><strong>+12</strong></span> </p>
        <p class="letra__pequena">Presencia en +12 Mercados mundiales</p>
      </div>
    </div>
    <div class="emaar__tarjeta derecha">
      <div class="emaar__tarjeta-numero">
        <p><span><strong>4.2</strong></span> </p>
        <p class="letra__pequena">Pies cuadrados de terreno</p>
      </div>
    </div>
    <div class="emaar__cuadro izquierda">
      <h2><strong>{{enteroCompradoresFelices}},{{decimalFelices}}+</strong> </h2>
      <p>Compradores de viviendas <br> felices A nivel mundial</p>
    </div>
    <div class="emaar__cuadro centro">
      <h2><strong>{{enteroCompradoresEAU}},{{decimalEAU}}+</strong> </h2>
      <p>Compradores de viviendas <br> felices en los EAU</p>
    </div>
    <div class="emaar__cuadro derecha">
      <h2><strong>{{enteroCompletadas}},{{decimalCompeltadas}}+</strong> </h2>
      <p>Unidades completadas <br> hasta la fecha en todo el mundo</p>
    </div>
    <p class="separado">
      Es simple, usted invertirá con <span> Scorpion el broker número de Emmar:</span> una de las marcas mejor
      consideradas del mundo. Líder en el mercado inmobiliario, EMAAR ha crecido a lo largo de los años
      hasta convertirse en el mayor promotor inmobiliario fuera de China.
    </p>
  </div>
  
  
  <div class="emaar__columna derecha"></div>
  
</section>
