<section class="banner">
  <img src="../../../../../assets/img/proyectos/golf_banner.jpg" alt="" />
</section>
<section class="resumen uno">
  <div class="separador">
    <img src="../../../../../assets/img/rombo.svg" alt="" class="separador__diamante">
  </div>
  <div class="resumen__texto">
    <h2>EN EL CORAZÓN DE UN PROYECTO CON FUTURO VIBRANTE.</h2>
    <P>
      Ubicado en el Master Plan de Emaar South, ofrece un fácil
      acceso al recinto de la Expo 2020, el aeropuerto
      internacional Al Maktoum Al Maktoum y las atracciones
      más populares de Dubai y centros de negocios, a través
      del bulevar adyacente bulevar y una importante
      autopista.
    </P>
    <div class="resumen__contenedor-tarjetas">
      <div class="resumen__tarjeta">
        <div class="resumen__icono uno"></div>
        <h6 class="resumen__numero">7</h6>
        <p class="resumen__tarjeta-texto">MINUTOS EN COCHE DEL AEROPUERTO INTERNACIONAL AL MAKTOUM</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono dos"></div>
        <h6 class="resumen__numero">10</h6>
        <p class="resumen__tarjeta-texto">MINUTOS EN COCHE DEL EXPO 2020 DUBAI</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono tres"></div>
        <h6 class="resumen__numero">20</h6>
        <p class="resumen__tarjeta-texto">MINUTOS AL PUERTO DEPORTIVO DE DUBAI</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono cuatro"></div>
        <h6 class="resumen__numero">30</h6>
        <p class="resumen__tarjeta-texto">MINUTOS AL CENTRO DE DUBAI</p>
      </div>
    </div>
  </div>
  <div class="resumen__imagen">
    <img
      src="../../../../../assets/img/proyectos/escuadra.svg"
      alt=""
      class="escuadra"
    />
    <img
      src="../../../../../assets/img/proyectos/puntos.svg"
      alt=""
      class="puntos"
    />
  </div>
  <div class="separador">
    <img src="../../../../../assets/img/rombo.svg" alt="" class="separador__diamante">
  </div>
</section>
<section class="descripcion">
  <div class="descripcion__contenedor">
    <div class="descripcion__info">
      <div class="descripcion__imagen">
        <img
          src="../../../../../assets/img/proyectos/escuadra.svg"
          alt=""
          class="escuadra"
        />
        <img
          src="../../../../../assets/img/proyectos/puntos.svg"
          alt=""
          class="puntos"
        />
      </div>
      <div class="descripcion__texto">
        <h2>
          CAMPO DE GOLF DE CAMPEONATO 18 HOYOS
        </h2>
        <p>
          Basado en una investigación de KPMG y la Asociación
          Nacional de Agentes Inmobiliarios de Estados Unidos, los
          campos de golf han aumentado históricamente el valor
          de las propiedades cercanas hasta un 20%. Con el campo
          de golf de 18 hoyos a poca distancia de golf de 18 hoyos,
          las Villas Expo Golf están preparadas para ofrecer una
          mayor y una fuerte revalorización del capital.
        </p>
      </div>
    </div>
    <img
      src="../../../../../assets/img/proyectos/fondo_lateral.svg"
      alt=""
      class="descripcion__columna"
    />
  </div>
</section>
<section class="resumen dos">
  <div class="separador">
    <img src="../../../../../assets/img/rombo.svg" alt="" class="separador__diamante">
  </div>
  <div class="resumen__texto">
    <h2>VIDA METROPOLITANA PARA UNA INVERSIÓN DE LUJO</h2>
    <P>
      Imagine su vida en una elegante torre con vistas a un
      hermoso campo de golf e hipódromo. Allí, podrá puede
      disfrutar no sólo de una dirección única con
      impresionantes vistas, sino también del lujo refinado y
      relajante que que lo acompaña.
      <br/><br/>
      Golf Heights at Emirates Living es una elegante torre
      residencial de vanguardia en una ubicación privilegiada,
      que ofrece unas vistas espectaculares de algunos de los
      paisajes más paisajes más pintorescos de Dubai.
    </P>
  </div>
  <div class="resumen__imagen">
    <img
      src="../../../../../assets/img/proyectos/escuadra.svg"
      alt=""
      class="escuadra"
    />
    <img
      src="../../../../../assets/img/proyectos/puntos.svg"
      alt=""
      class="puntos"
    />
  </div>
  <div class="separador">
    <img src="../../../../../assets/img/rombo.svg" alt="" class="separador__diamante">
  </div>
</section>
<section class="pago">

  <div class="pago__contenedor">
    <div class="pago__info">
      <div class="pago__texto">
        <h2>
          PLAN DE PAGO
        </h2>
        <div class="pago__contenedor-tarjetas">
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>Down Payment</h3>
              <p class="pago__descripcion">On Booking</p>
              <p class="pago__fecha">November 2022</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>1st Instalment</h3>
              <p class="pago__descripcion"></p>
              <p class="pago__fecha">January 2023</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>2nd Instalment</h3>
              <p class="pago__descripcion"></p>
              <p class="pago__fecha">July 2023</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>3rd Instalment</h3>
              <p class="pago__descripcion"></p>
              <p class="pago__fecha">January 2024</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>4th Instalment</h3>
              <p class="pago__descripcion">Upon 20% Construction Completion*</p>
              <p class="pago__fecha">July 2024</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>5th Instalment</h3>
              <p class="pago__descripcion">Upon 40% Construction Completion*</p>
              <p class="pago__fecha">February 2025</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>6th Instalment</h3>
              <p class="pago__descripcion">Upon 60% Construction Completion*</p>
              <p class="pago__fecha">August 2025</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>7th Instalment</h3>
              <p class="pago__descripcion">Upon 80% Construction Completion*</p>
              <p class="pago__fecha">February 2026</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>20<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>8th Instalment</h3>
              <p class="pago__descripcion">Upon 100% Construction Completion*</p>
              <p class="pago__fecha">December 2026</p>
            </div>
          </div>
        </div>
        <p class="info">*Estimated Construction Completion Date</p>
        <form action="">
          <label for="email"><p>Reciba más información</p></label>
          <input type="email" name="email" id="email" placeholder="EMAIL" />
          <button>ENVIAR</button>
        </form>
      </div>
      <div class="pago__imagen">
        <img
          src="../../../../../assets/img/proyectos/escuadra.svg"
          alt=""
          class="escuadra"
        />
        <img
          src="../../../../../assets/img/proyectos/puntos.svg"
          alt=""
          class="puntos"
        />
      </div>
    </div>
    <img
      src="../../../../../assets/img/proyectos/fondo_lateral.svg"
      alt=""
      class="pago__columna"
    />
  </div>
  <div class="pago__botones">
    <a href=""><button class="reservar">RESERVE SU CITA</button></a>
    <a href=""><button class="asesor">CONTACTAR CON UN ASESOR</button></a>
  </div>
  <div class="separador">
    <img src="../../../../../assets/img/rombo.svg" alt="" class="separador__diamante">
  </div>
</section>
<section class="ubicacion">
  <img
  src="../../../../../assets/img/proyectos/fondo_lateral.svg"
  alt=""
  class="ubicacion__columna left"
/>
  <img src="../../../../../assets/img/proyectos/golf_ubicacion.jpg" alt="" />
  <img
  src="../../../../../assets/img/proyectos/fondo_lateral.svg"
  alt=""
  class="ubicacion__columna right"
/>
</section>
