<section class="banner">
  <img src="../../../../../assets/img/proyectos/raya_banner.jpg" alt="">
</section>
<section class="resumen">
  <div class="resumen__texto">
    <h2>CONQUISTA LAS FRONTERAS DEL FUTURO</h2>
    <P>Con fácil acceso al Road Emirates, así como a
      algunos de los lugares de interés y atracciones más
      populares de Dubai, incluyendo el Global Village, IMG
      Worlds of Adventure y Dubai Outlet Mall.</P>
    <div class="resumen__contenedor-tarjetas">
      <div class="resumen__tarjeta">
        <div class="resumen__icono mezquita"></div>
        <h6 class="resumen__numero">05</h6>
        <p class="resumen__tarjeta-texto">MINUTOS DEL GLOBAL VILLAGE</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono edificio"></div>
        <h6 class="resumen__numero">20</h6>
        <p class="resumen__tarjeta-texto">MINUTOS DEL CENTRO DE DUBAI</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono caballo"></div>
        <h6 class="resumen__numero">10</h6>
        <p class="resumen__tarjeta-texto">MINUTOS DEL CLUB DE POLO Y EQUITACIÓN</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono avion"></div>
        <h6 class="resumen__numero">20</h6>
        <p class="resumen__tarjeta-texto">MINUTOS DEL AEROPUERTO</p>
      </div>
    </div>
  </div>
  <div class="resumen__imagen">
    <div class="resumen__imagen-marco"></div>
    <img src="../../../../../assets/img/proyectos/raya_resumen.jpg" alt="">
  </div>
</section>
<section class="descripcion">
  <div class="descripcion__contenedor">
    <div class="descripcion__info">
      <div class="descripcion__imagen">
        <img src="../../../../../assets/img/proyectos/escuadra.svg" alt="" class="escuadra">
        <img src="../../../../../assets/img/proyectos/puntos.svg" alt="" class="puntos">
      </div>
      <div class="descripcion__texto">
        <h2><span>EL LEGADO</span><br> CONTINÚA</h2>
        <p>Arabian Ranches III marca la continuación de un legado que comenzó en 2004. Desde entonces hemos estado elaborando y perfeccionando la urbanización de Dubái, la comunidad cerrada más consolidada y solicitada de Dubai. Arabian Ranches III es la culminación de esta historia y es solo el comienzo de la tuya.</p>
        <table>
          <thead>
            <th>Unit</th>
            <th>Area sq.ft</th>
            <th>Starting Price (AED)</th>
            <th>Starting Price (USD)</th>
          </thead>
          <tbody>
            <tr>
              <td>3BR Townhouse</td>
              <td>1877-1994</td>
              <td>AED 1,950,888</td>
              <td>$534,490</td>
            </tr>
            <tr>
              <td>4BR Townhouse</td>
              <td>2347-2354</td>
              <td>AED 2,539,888</td>
              <td>$695,860</td>
            </tr>
          </tbody>
        </table>
        <form action="">
          <label for="email"><p>Reciba más información</p></label>
          <input type="email" name="email" id="email" placeholder="EMAIL">
          <button>ENVIAR</button>
        </form>
      </div>
    </div>
    <img src="../../../../../assets/img/proyectos/fondo_lateral.svg" alt="" class="descripcion__columna">
  </div>
  <div class="descripcion__botones">
    <a href=""><button>RESERVE SU CITA EN EL SCORPION ROAD SHOW</button></a>
    <a href=""><button>CONTACTAR CON UN ASESOR</button></a>
  </div>
</section>
<section class="ubicacion">
  <img src="../../../../../assets/img/proyectos/raya_ubicacion.jpg" alt="">
</section>
