<section class="acerca" id="acerca">
  <div class="acerca__contenedor-tarjetas">
    <div class="acerca__tarjeta info">
      <h6>8 AL 15%</h6>
      <p>ALTO RETORNO DE INVERSIÓN</p>
    </div>
    <div class="acerca__tarjeta info">
      <h6>0% DE IMPUESTOS</h6>
      <p>EN INGRESOS SOBRE LA PROPIEDAD</p>
    </div>
    <div class="acerca__tarjeta info">
      <h6>0% IMPUESTOS</h6>
      <p>PREDIAL</p>
    </div>
    <div class="acerca__tarjeta info">
      <h6>SIN COMISIONES</h6>
      <p>COMPRA DIRECTA CON EMAAR</p>
    </div>
  </div>
  <div class="acerca__registro">
    <h3>
      Regístrate para más información y/o reservar tu cita en el Scorpion
      Roadshow.
    </h3>
    <form action="">
      <label for="nombre">NOMBRE:</label>
      <input type="text" name="nombre" id="nombre" />
      <label for="telefono">NÚMERO DE TELÉFONO:</label>
      <input type="number" name="indicativo" id="indicativo" />
      <input type="tel" name="telefono" id="telefono" />
      <label for="correo">EMAIL:</label>
      <input type="email" name="correo" id="correo" />
      <label for="ciudad">CIUDAD:</label>
      <input type="email" name="ciudad" id="ciudad" />
      <button type="submit">ENVIAR</button>
    </form>
  </div>
  <div class="acerca__texto">
    <h2>logotipo</h2>
    <h2>UN SOCIO QUE DESAFÍA TODAS LAS EXPECTATIVAS.</h2>
    <p>
      Somos una inmobiliaria de alto desempeño en el corazón de Dubai “JBR
      Walk”, y el vendedor número uno de <strong>Emaar Properties</strong>, la
      constructora más grande del rey. EMAAR ha crecido a lo largo de los años
      para convertirse en el más grande promotor inmobiliario fuera de China.
      Nuestro legado está hecho de experiencia y precisión en compra, venta,
      alquiler y gestión de propiedades para nuestros inversionistas en todo
      Dubái.
    </p>
    <p>
      <strong>
        Tome el lugar que le pertenece, nosotros lo haremos parte del futuro de
        Dubai.
      </strong>
    </p>
  </div>
</section>
