<section class="acerca" id="acerca">
  <div class="acerca__contenedor-tarjetas">
    <div class="acerca__tarjeta info">
      <h6>8 AL 15%</h6>
      <p>ALTO RETORNO DE INVERSIÓN</p>
    </div>
    <div class="acerca__tarjeta info">
      <h6>0% DE IMPUESTOS</h6>
      <p>EN INGRESOS SOBRE LA PROPIEDAD</p>
    </div>
    <div class="acerca__tarjeta info">
      <h6>0% IMPUESTOS</h6>
      <p>PREDIAL</p>
    </div>
    <div class="acerca__tarjeta info">
      <h6>SIN COMISIONES</h6>
      <p>COMPRA DIRECTA CON EMAAR</p>
    </div>
  </div>
  <div class="acerca__registro">
    <h3>
      Regístrate para más información y/o reservar tu cita en el Scorpion
      Roadshow.
    </h3>
    <form
      method="post"
      action="https://api.sheetmonkey.io/form/8c48RoLH8XoahVFMKdPHvR"
    >
      <label for="nombre">NOMBRE:</label>
      <input type="text" name="nombre" id="nombre" />
      <label for="telefono">NÚMERO DE TELÉFONO:</label>
      <div class="acerca__campo-telefono">
        <input type="tel" name="indicativo" id="indicativo" value="+57" />
        <input type="tel" name="telefono" id="telefono" />
      </div>
      <label for="correo">EMAIL:</label>
      <input type="email" name="correo" id="correo" />
      <label for="ciudad">CIUDAD:</label>
      <select name="ciudad" id="ciudad">
        <option value="Bogotá">Bogotá</option>
        <option value="Medellín">Medellín</option>
        <option value="Cali">Cali</option>
        <option value="Barranquilla">Barranquilla</option>
        <option value="Arauca">Arauca</option>
        <option value="Armenia">Armenia</option>
        <option value="Bucaramanga">Bucaramanga</option>
        <option value="Cartagena">Cartagena</option>
        <option value="Cúcuta">Cúcuta</option>
        <option value="Florencia">Florencia</option>
        <option value="Ibagué">Ibagué</option>
        <option value="Leticia">Leticia</option>
        <option value="Manizales">Manizales</option>
        <option value="Mitú">Mitú</option>
        <option value="Mocoa">Mocoa</option>
        <option value="Montería">Montería</option>
        <option value="Neiva">Neiva</option>
        <option value="Pasto">Pasto</option>
        <option value="Pereira">Pereira</option>
        <option value="Popayán">Popayán</option>
        <option value="Puerto Carreño">Puerto Carreño</option>
        <option value="Puerto Inírida">Puerto Inírida</option>
        <option value="Quibdó">Quibdó</option>
        <option value="Riohacha">Riohacha</option>
        <option value="San Andrés">San Andrés</option>
        <option value="San José del Guaviare">San José del Guaviare</option>
        <option value="Santa Marta">Santa Marta</option>
        <option value="Sincelejo">Sincelejo</option>
        <option value="Tunja">Tunja</option>
        <option value="Valledupar">Valledupar</option>
        <option value="Villavicencio">Villavicencio</option>
        <option value="Yopal">Yopal</option>
      </select>
      <button type="submit">ENVIAR</button>
      <h3><b>180</b>  plazas disponibles
        con acceso a información
        privilegiada</h3>
    </form>
    <img src="../../../../../assets/img/formulario.svg" alt="">

  </div>
  <div class="acerca__texto">
    <img src="../../../../../assets/img/logo_scorpion_broker.svg" class="logo"/>
    <img src="../../../../../assets/img/line_socio.svg" class="linea">
    <h2>UN SOCIO QUE DESAFÍA TODAS LAS EXPECTATIVAS.</h2>
    <p>
      Somos una inmobiliaria de alto desempeño en el corazón de Dubai “JBR
      Walk”, y el vendedor número uno de <strong>Emaar Properties</strong>, la
      constructora más grande del rey. EMAAR ha crecido a lo largo de los años
      para convertirse en el más grande promotor inmobiliario fuera de China.
      Nuestro legado está hecho de experiencia y precisión en compra, venta,
      alquiler y gestión de propiedades para nuestros inversionistas en todo
      Dubái.
    </p>
    <p>
      Tome el lugar que le pertenece, nosotros lo haremos parte del futuro de
      Dubai.
    </p>
  </div>
</section>
