<section class="acerca" id="acerca">
  <div class="acerca__registro">
    <h3>
      Regístrate para más información y/o reservar tu cita en el Scorpion
      Roadshow.
    </h3>
    <form action="">
      <input type="text" name="nombre" id="nombre" placeholder="Nombre completo" />
      <input type="number" name="indicativo" id="indicativo" placeholder="(+57)" />
      <input type="tel" name="telefono" id="telefono" placeholder="310 987 6543" />
      <input type="email" name="correo" id="correo" placeholder="Correo electrónico" />
      <button type="submit">Enviar</button>
    </form>
    <p>180 plazas disponibles con acceso a información privilegiada</p>
  </div>
  <div class="acerca__texto">
    <h2>logotipo</h2>
    <h2>UN SOCIO QUE DESAFÍA TODAS LAS EXPECTATIVAS.</h2>
    <p>
      Somos una inmobiliaria de alto desempeño en el corazón de Dubai “JBR
      Walk”, y el vendedor número uno de <strong>Emaar Properties</strong>, la
      constructora más grande del rey. EMAAR ha crecido a lo largo de los años
      para convertirse en el más grande promotor inmobiliario fuera de China.
      Nuestro legado está hecho de experiencia y precisión en compra, venta,
      alquiler y gestión de propiedades para nuestros inversionistas en todo
      Dubái.
    </p>
    <h3>
      Tome el lugar que le pertenece, nosotros lo haremos parte del futuro de
      Dubai.
    </h3>
  </div>
</section>
