<nav class="nav">
  <div class="nav__container">
    
    <label for="menu" class="nav__label">
      <img src="../../../../../assets/img/menu.svg" class="nav__img">
    </label>
    <input type="checkbox" id="menu" class="nav__input" />
    <div class="nav__menu">
      <a href="" class="nav__item"> <b>INICIO</b> </a>
      <a href="" class="nav__item"> <b>SOBRE SCORPION</b> </a>
      <a href="" class="nav__item"> <b>PROPIEDADES</b> </a>
      <a href="" class="nav__item"> <b>RESERVE SU CITA</b> </a>
      <a href="" class="nav__item"> <b>POR QUÉ EMAAR DUBAI</b> </a>
    </div>
  </div>
</nav>
