<nav>
    <ul id="navbar__list" class="navbar__list">
        <li id="navbar__item-home" class="navbar__item home">
          <a href="#home">Home</a>
        </li>
        <li id="navbar__item-model" class="navbar__item model">
          <a href="#montajes">Montajes</a>
        </li>
        <li id="navbar__item-drivers" class="navbar__item drivers">
          <a href="#marketing">Creatividad XP</a>
        </li>
        <li id="navbar__item-mantra" class="navbar__item mantra">
          <a href="#marketing">Marketing XP</a>
        </li>
      </ul>
</nav>