@import "../../../../styles/variables";
* {
  margin: 0;
  padding: 0;
}

.nav {

  .nav__container {
    width: 80vw;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    position: fixed;
    right: -35vw;
    z-index: 9999;
    .nav__label, .nav__input {
      display: none;
      z-index: 9999;
    }
    .nav__input:checked ~ .nav__item {
        transform: translateY(0);
    }
    .nav__menu {
      display: grid;
      grid-auto-flow: column;
      gap: 3em;
      position: fixed;
      right: 5vw;
      top: 5vh;
    }
    .nav__item {
      color: $azul;
      text-decoration: none;
      font-family:  Poppins;
      --clipy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    .nav__item::after {
      content: "";
      display: block;
      background: $dorado;
      width: 90%;
      height: 3px;
      margin-top: 2px;
      clip-path: var(--clipy);
      transition: clip-path 0.5s;
    }
    .nav__item:hover {
      --clipy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .nav__toggler {
      display: none;
      height: min-content;
      margin: 18px -10px 0 0;
      cursor: pointer;
      .bar{
          width: 40px;
          height: 5px;
          margin-bottom: 10px;
          background-color: $crema;
          border-radius: 10%;
          transition: .4s;
      }
    }

    @media (max-width: 1024px) {

      .nav__label{
          display: block;
          margin-top: 5vh;
      }
      .nav__menu{
          position: fixed;
          top: 0;
          bottom: 0;
          background: $crema;
          width: 100%;
          left: 0;
          display: flex;
          padding: 20vh 0;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          clip-path: circle(0 at center );
          transition: clip-path 1s ease-in-out;
      }
      .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center );
      }
    }
  }
  @media (max-width:1024px) {
      .nav__container{
        right: -65vw;
      }

  }
}
