<section class="banner">
  <img src="../../../../../assets/img/proyectos/cove_banner.jpg" alt="" />
</section>
<section class="resumen">
  <div class="separador">
    <img src="../../../../../assets/img/rombo.svg" alt="" class="separador__diamante">
  </div>
  <div class="resumen__texto">
    <h2>UNA INVERSIÓN PERFECTAMENTE CONECTADA</h2>
    <P>
      THE COVE es el siguiente capítulo de un exitoso desarrollo. Puede tenerlo
      todo: un estilo de vida vanguardista estilo de vida vanguardista y un rico
      patrimonio y los placeres de la vida cotidiana; una vibrante vida nocturna
      y una vida nocturna vibrante y noches tranquilas; una conexión con la
      naturaleza sin dejar de estar cerca de la ciudad. Una experiencia
      completamente nueva que que también es tranquilizadoramente familiar.
    </P>
    <div class="resumen__contenedor-tarjetas">
      <div class="resumen__tarjeta">
        <div class="resumen__icono uno"></div>
        <h6 class="resumen__numero"></h6>
        <p class="resumen__tarjeta-texto">RED DE CARRETERAS Y DE AUTOBUSES</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono dos"></div>
        <h6 class="resumen__numero"></h6>
        <p class="resumen__tarjeta-texto">UN CONVENIENTE INTERCAMBIO</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono tres"></div>
        <h6 class="resumen__numero"></h6>
        <p class="resumen__tarjeta-texto">3 PUENTES QUE CONECTAN CON EL PUERTO DE DUBAI CREEK</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono cuatro"></div>
        <h6 class="resumen__numero"></h6>
        <p class="resumen__tarjeta-texto">TAXIS ACUÁTICOS A CENTRO DE DUBAI</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono cinco"></div>
        <h6 class="resumen__numero"></h6>
        <p class="resumen__tarjeta-texto">4 METRO ESTACIONES</p>
      </div>
    </div>
  </div>
  <div class="resumen__imagen">
    <img
      src="../../../../../assets/img/proyectos/escuadra.svg"
      alt=""
      class="escuadra"
    />
    <img
      src="../../../../../assets/img/proyectos/puntos.svg"
      alt=""
      class="puntos"
    />
  </div>
  <div class="separador">
    <img src="../../../../../assets/img/rombo.svg" alt="" class="separador__diamante">
  </div>
</section>
<section class="descripcion">
  <div class="descripcion__contenedor">
    <div class="descripcion__info">
      <div class="descripcion__imagen">
        <img
          src="../../../../../assets/img/proyectos/escuadra.svg"
          alt=""
          class="escuadra"
        />
        <img
          src="../../../../../assets/img/proyectos/puntos.svg"
          alt=""
          class="puntos"
        />
      </div>
      <div class="descripcion__texto">
        <h2>
          REDEFINIENDO<br />
          EL LUJO SENSUAL
        </h2>
        <p>
          Las comodidades modernas conviven tranquilamente en
          THE COVE con la belleza natural que le rodea. Los
          apartamentos de las opulentas torres residenciales
          vienen en una amplia selección de estilos estilos y
          tamaños, desde apartamentos de 1, 2 y 3 dormitorios
          hasta dúplex de 2 y dúplex de 3 dormitorios y casas
          adosadas de 2, 3 y 4 dormitorios. Con ventanas del suelo
          al techo con vistas al el resplandeciente horizonte de
          Dubai, un próspero paseo marítimo y un puerto deportivo
          justo en la puerta puerta, el estilo de vida de sus sueños
          está más cerca de lo que nunca pensó.
        </p>
      </div>
    </div>
    <img
      src="../../../../../assets/img/proyectos/fondo_lateral.svg"
      alt=""
      class="descripcion__columna"
    />
  </div>
</section>
<section class="pago">
  <div class="separador">
    <img src="../../../../../assets/img/rombo.svg" alt="" class="separador__diamante">
  </div>
  <div class="pago__contenedor">
    <div class="pago__info">
      <div class="pago__texto">
        <h2>
          PLAN DE PAGO
        </h2>
        <div class="pago__contenedor-tarjetas">
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>Down Payment</h3>
              <p class="pago__descripcion">On Booking</p>
              <p class="pago__fecha">November 2022</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>1st Instalment</h3>
              <p class="pago__descripcion"></p>
              <p class="pago__fecha">January 2023</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>2nd Instalment</h3>
              <p class="pago__descripcion"></p>
              <p class="pago__fecha">July 2023</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>3rd Instalment</h3>
              <p class="pago__descripcion"></p>
              <p class="pago__fecha">January 2024</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>4th Instalment</h3>
              <p class="pago__descripcion">Upon 20% Construction Completion*</p>
              <p class="pago__fecha">July 2024</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>5th Instalment</h3>
              <p class="pago__descripcion">Upon 40% Construction Completion*</p>
              <p class="pago__fecha">February 2025</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>6th Instalment</h3>
              <p class="pago__descripcion">Upon 60% Construction Completion*</p>
              <p class="pago__fecha">August 2025</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>10<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>7th Instalment</h3>
              <p class="pago__descripcion">Upon 80% Construction Completion*</p>
              <p class="pago__fecha">February 2026</p>
            </div>
          </div>
          <div class="pago__tarjeta">
            <h2>20<span>%</span></h2>
            <div class="pago__caja-texto">
              <h3>8th Instalment</h3>
              <p class="pago__descripcion">Upon 100% Construction Completion*</p>
              <p class="pago__fecha">December 2026</p>
            </div>
          </div>
        </div>
        <form method="post"
        action="https://api.sheetmonkey.io/form/fGosvRA5yMXWcW2h3iaj6X">
          <label for="email"><p>Reciba más información</p></label>
          <input type="email" name="email" id="email" placeholder="EMAIL" />
          <button>ENVIAR</button>
        </form>
      </div>
      <div class="pago__imagen">
        <img
          src="../../../../../assets/img/proyectos/escuadra.svg"
          alt=""
          class="escuadra"
        />
        <img
          src="../../../../../assets/img/proyectos/puntos.svg"
          alt=""
          class="puntos"
        />
      </div>
    </div>
    <img
      src="../../../../../assets/img/proyectos/fondo_lateral.svg"
      alt=""
      class="pago__columna"
    />
  </div>
  <div class="pago__botones">
    <a href=""><button class="reservar">RESERVE SU CITA</button></a>
    <a href=""><button class="asesor">CONTACTAR CON UN ASESOR</button></a>
  </div>
</section>
<section class="ubicacion">
  <img
  src="../../../../../assets/img/proyectos/fondo_lateral.svg"
  alt=""
  class="ubicacion__columna left"
/>
  <img src="../../../../../assets/img/proyectos/cove_ubicacion.jpg" alt="" />
  <img
  src="../../../../../assets/img/proyectos/fondo_lateral.svg"
  alt=""
  class="ubicacion__columna right"
/>
</section>
