<div class="home__slider">
  <div class="home__slide uno"></div>
  <div class="home__slide dos"></div>
  <div class="home__slide tres"></div>
  <div class="home__slide cuatro">
    <h2>Emaar</h2>
    <h1>Scorpion Roadshow Colombia</h1>
    <p>Una inversión que excede las expectativas.</p>
    <div class="home__contenedor-tarjetas">
      <div class="home__tarjeta fecha">
        <p>Bogotá 28 -29 Nov</p>
        <p>Hotel Hyaat</p>
      </div>
      <div class="home__tarjeta fecha">
        <p>Medellín 30 Nov -01 Dic</p>
        <p>Hotel ::::::::</p>
      </div>
    </div>
    <h3>Haga parte del futuro de Dubai.</h3>
    <div class="home__contenedor-tarjetas">
      <div class="home__tarjeta info">
        <p>Alto retorno de inversión 8 al 15%</p>
      </div>
      <div class="home__tarjeta info">
        <p>0% de impuestos en ingresos sobre la propiedad</p>
      </div>
      <div class="home__tarjeta info">
        <p>0% de impuesto predial</p>
      </div>
      <div class="home__tarjeta info">
        <p>Compra directa con Emaar</p>
      </div>
    </div>
  </div>
</div>
