<section class="inicio" id="inicio">
  <div class="inicio__slider">
    <div class="inicio__slide uno"></div>
    <div class="inicio__slide dos"></div>
    <div class="inicio__slide tres"></div>
    <div class="inicio__slide cuatro">
      <img src="../../../../../assets/img/ondas_doradas_header.svg" alt="" class="inicio__ondas-doradas">
      <img src="../../../../../assets/img/ondas_azules_header.svg" alt="" class="inicio__ondas-azules">
      <img src="../../../../../assets/img/logo_headerr.svg" alt="" class="inicio__logo">
      <img src="../../../../../assets/img/flechas_header.svg" alt="" class="inicio__flechas">
      <img src="../../../../../assets/img/fechas_header.svg" alt="" class="inicio__fechas">
    </div>
  </div>
</section>
