.inicio {
  width: 100%;
  height: 100vh;
  background: #010101;
  .inicio__slider {
    animation-delay: 7s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: fullscreen;
    height: 60vh;
    left: 50%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;

    .inicio__slide {
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-name: slide;
      height: 60vh;
      position: relative;
      transform: translate(0px, 60vh);
      width: 60vw;

      &.uno {
        animation-delay: 1s;
        background: #7C7474;
        background-size: cover;
      }

      &.dos {
        animation-delay: 2.5s;
        background: #A39E8F;
        background-size: cover;
      }

      &.tres {
        animation-delay: 4s;
        background: #897E5E;
        background-size: cover;
      }

      &.cuatro {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: slide 1.5s 5.5s forwards, fullscreen 0s 0s forwards;
        background: url(../../../../../assets/img/banner.jpg);
        background-size: cover;
        color: #25344F;
        img {
          &.inicio__ondas-doradas {
            width: 15vw;
            position: absolute;
            top: 0;
            left: 0;
          }
          &.inicio__ondas-azules {
            width: 10vw;
            position: absolute;
            top: 100px;
            right: 0;
          }
          &.inicio__logo {
            width: 25vw;
            position: relative;
            top: 10vh;
            right: 25vw;
          }
          &.inicio__flechas {
            width: 10vw;
            position: absolute;
            bottom: 50px;
            right: -1vw;
          }
          &.inicio__fechas {
            width: 25vw;
            position: absolute;
            bottom: 0;
            right: 7vw;
          }
        }
        p {
          text-align: center;
        }
        .inicio__contenedor-tarjetas {
          display: none;
          justify-content: center;
          margin: 50px auto;

          .inicio__tarjeta {
            width: 200px;
            color: transparent;
            animation: tarjetas 5s 9s forwards;

            &.info {
              max-width: 180px;
              margin: 0 10px;
              border-left: 1px #897E5E solid;
              &:first-child {
                border-left: 0px;
              }
              p {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translate(0px, 60vh);
  }
  99% {
    position: relative;
    transform: translate(0px, 0px);
  }
  100% {
    position: absolute;
    transform: translate(0px, 0px);
  }
}

@keyframes fullscreen {
  from {
  }
  to {
    height: 100%;
    width: 100%;
  }
}

@keyframes tarjetas {
  from {
  }
  to {
    color: #25344F;
  }
}
