@import "../../../../styles/variables";
.inicio {
  width: 100%;
  height: 100vh;
  position: relative;
  background: $azul;
  z-index: 99;
  .inicio__slider {
    animation-delay: 3.8s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-name: fullscreen;
    height: 60vh;
    left: 50%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;

    .inicio__slide {
      animation-duration: 0.7s;
      animation-fill-mode: forwards;
      animation-name: slide;
      height: 60vh;
      position: relative;
      transform: translate(0px, 60vh);
      width: 60vw;

      &.uno {
        animation-delay: 1s;
        background: url(../../../../../assets/img/1.jpg);
        background-size: cover;
      }

      &.dos {
        animation-delay: 1.7s;
        background: url(../../../../../assets/img/3.jpg);
        background-size: cover;
      }

      &.tres {
        animation-delay: 2.4s;
        background: url(../../../../../assets/img/4.jpg);
        background-size: cover;
      }

      &.cuatro {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: slide 0.7s 3.1s forwards, fullscreen 0s 0s forwards;
        background: url(../../../../../assets/img/banner.jpg);
        background-size: cover;
        background-position: bottom;
        color: #25344f;
        img {
          &.inicio__ondas-doradas {
            width: 15vw;
            position: absolute;
            top: 0;
            left: 0;
          }
          &.inicio__ondas-azules {
            width: 10vw;
            position: absolute;
            top: 100px;
            right: 0;
          }
          &.inicio__logo {
            width: 20vw;

            position: absolute;
            top: 100%;
            left: 15vw;
            // left: 50%;
            // transform: translate(-50%, -50%);
            animation: logo 1s 5.3s forwards;
          }
          &.inicio__flechas {
            width: 10vw;
            position: absolute;
            bottom: 50px;
            right: -1vw;
          }
          &.inicio__fechas {
            width: 25vw;
            position: absolute;
            bottom: 0;
            right: 7vw;
          }
        }
        p {
          text-align: center;
        }
        .inicio__contenedor-tarjetas {
          display: none;
          justify-content: center;
          margin: 50px auto;

          .inicio__tarjeta {
            width: 200px;
            color: transparent;
            animation: tarjetas 5s 9s forwards;

            &.info {
              max-width: 180px;
              margin: 0 10px;
              border-left: 1px #897e5e solid;
              &:first-child {
                border-left: 0px;
              }
              p {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translate(0px, 60vh);
  }
  99% {
    position: relative;
    transform: translate(0px, 0px);
  }
  100% {
    position: absolute;
    transform: translate(0px, 0px);
  }
}

@keyframes fullscreen {
  from {}
  to {
    height: 100vh;
    width: 100%;
  }
}

@keyframes tarjetas {
  from {
  }
  to {
    color: #25344f;
  }
}

@keyframes logo {
  from {
  }
  to {
    position: absolute;
    top: 5vh;
    left: 15vw;
    transform: translate(0, 0);
  }
}

@keyframes logomovil {
  from {
  }
  to {
    top: 10vh;
  }
}

@media screen and (max-width: 1024px) {
  .inicio {
    .inicio__slider {
      .inicio__slide {
        &.cuatro {
          img {
            &.inicio__ondas-doradas {
              width: 33vw;
            }
            &.inicio__ondas-azules {
              width: 20vw;
            }
            &.inicio__logo {
              width: 50vw;
              top: 0vh;
              left: unset;
              animation: logomovil 1s 5.3s forwards;
            }
            &.inicio__flechas {
              width: 20vw;
            }
            &.inicio__fechas {
              width: 78vw;
              position: absolute;
              bottom: 25vh;
              right: 11vw;
            }
          }
        }
      }
    }
  }
}
