<section class="ventajas">
    <div class="ventajas__columna medio">
        <h2>SÍ, EXISTE UN LUGAR EN EL MUNDO <br> <span>DONDE DEBE PONER SU LEGADO</span> 
        </h2> 
        <img src="../../../../../assets/img/rombo.svg" class="rombo" />
    </div>

    <div class="ventajas__contenedor">
        <div class="ventajas__tarjeta primera">
            <p class="numero">01</p>
            <img src="../../../../../assets/img/porque/sol.svg" class="sol">
            <p class="titulo">BUEN CLIMA</p>
            <p class="texto"></p>
        </div>
        <div class="ventajas__foto primera">
            <img src="" alt="">
        </div>
    </div>

</section>
