<section class="ventajas">
  <div class="ventajas__columna medio">
    <h2>
      SÍ, EXISTE UN LUGAR EN EL MUNDO <br />
      <span>DONDE DEBE PONER SU LEGADO</span>
    </h2>
    <img src="../../../../../assets/img/rombo.svg" class="rombo" />
  </div>

  <div class="ventajas__contenedor">
    <div class="ventajas__tarjeta primera">
      <p class="numero">
        01 <img src="../../../../../assets/img/porque/sol.svg" class="sol" />
      </p>

      <p class="titulo">BUEN CLIMA</p>
      <p class="texto">
        Dubai es famosa por su sol. Durante todo el año se puede disfrutar de
        mucho sol. En Dubai hay dos estaciones bien diferenciadas: invierno y
        verano. El verano comienza hacia mayo y el invierno hacia octubre.
        Durante todo el año, goza de un clima cálido y soleado con cielos
        azules.
      </p>
      <div class="ventajas__foto primera">
        <img src="../../../../../assets/img/porque/1.png" alt="" />
      </div>
    </div>
  </div>

  <div class="ventajas__contenedor__dos">
    <div class="ventajas__tarjeta">
      <div class="ventajas__tarjeta segunda">
        <p class="numero">
          02
          <img
            src="../../../../../assets/img/porque/impuestos.svg"
            class="sol"
          />
        </p>

        <p class="titulo">INGRESOS LIBRES DE IMPUESTOS</p>
        <p class="texto">
          Los expatriados de todo el mundo siempre se han sentido atraídos por
          Dubai por su estilo de vida libre de impuestos. Dubai es un lugar
          atractivo para trabajar porque ofrece la oportunidad de hacer crecer
          su riqueza sin pagar impuestos. Piénselo. ¿Cuántos países del mundo no
          cobran ningún impuesto personal sobre sus ingresos?
        </p>
        <div class="ventajas__foto segunda">
          <img src="../../../../../assets/img/porque/2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="ventajas__contenedor__tres">
    <div class="ventajas__tarjeta primera">
      <p class="numero">
        03 <img src="../../../../../assets/img/porque/nivel.svg" class="sol" />
      </p>

      <p class="titulo">ALTO NIVEL DE VIDA</p>
      <p class="texto">
        Cualquier lista de las ciudades más lujosas del mundo incluye a Dubai.
        La ciudad tiene fama de tener un estilo de vida glamuroso que no se
        parece a nada en el mundo. Pero no todo es lujo. Es un destino de estilo
        de vida que redefine el lujo con todo lo que se puede pedir.
      </p>
      <div class="ventajas__foto primera">
        <img src="../../../../../assets/img/porque/3.png" alt="" />
      </div>
    </div>
  </div>
  <div class="ventajas__contenedor__cuatro">
    <div class="ventajas__tarjeta">
      <div class="ventajas__tarjeta segunda">
        <p class="numero">
          04
          <img
            src="../../../../../assets/img/porque/seguridad.svg"
            class="sol"
          />
        </p>

        <p class="titulo">SEGURIDAD</p>
        <p class="texto">
          Además de ser uno de los mejores lugares para vivir, Dubai es también
          uno de los mejores lugares para criar una familia debido a su entorno
          seguro. El índice de criminalidad es realmente bajo, y los delitos
          violentos son casi inexistentes. De hecho, Dubai está considerada una
          de las ciudades más seguras del mundo para vivir.
        </p>
        <div class="ventajas__foto segunda">
          <img src="../../../../../assets/img/porque/4.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="ventajas__contenedor__cinco">
    <div class="ventajas__tarjeta primera">
      <p class="numero">
        05
        <img src="../../../../../assets/img/porque/edificio.svg" class="sol" />
      </p>

      <p class="titulo">INFRAESTRUCTURA DE CATEGORÍA MUNDIAL</p>
      <p class="texto">
        Sus infraestructuras de primera clase y su conectividad han contribuido
        a que Dubái se convierta en un importante centro no sólo en Oriente
        Medio, sino en todo el mundo. En Dubái encontrará una infraestructura y
        una planificación urbana de primera clase. Además, está evolucionando
        hacia una ciudad inteligente y sostenible.
      </p>
      <div class="ventajas__foto primera">
        <img src="../../../../../assets/img/porque/5.png" alt="" />
      </div>
    </div>
  </div>
  <div class="ventajas__contenedor__seis">
    <div class="ventajas__tarjeta">
      <div class="ventajas__tarjeta segunda">
        <p class="numero">
          06
          <img
            src="../../../../../assets/img/porque/edificio1.svg"
            class="sol"
          />
        </p>

        <p class="titulo">PRECIOS Y RENDIMIENTOS DE ALQUILER COMPETITIVOS</p>
        <p class="texto">
          Dubai ofrece rendimientos inmobiliarios superiores a los de ciudades
          populares como Londres y Nueva York, con un rendimiento bruto de los
          alquileres de entre el 6 y el 10% y una rentabilidad media del 7,5%.
          Los precios de los inmuebles en Dubai también son competitivos en
          comparación con otros grandes centros internacionales como Londres,
          Nueva York, Hong Kong, París y Singapur
        </p>
        <div class="ventajas__foto segunda">
          <img src="../../../../../assets/img/porque/6.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="ventajas__contenedor__siete">
    <div class="ventajas__tarjeta primera">
      <p class="numero">
        07 <img src="../../../../../assets/img/porque/mapa.svg" class="sol" />
      </p>

      <p class="titulo">UBICACIÓN ESTRATÉGICA</p>
      <p class="texto">
        Situada en el centro de los Emiratos Árabes Unidos, la posición de Dubai
        es estratégica. La mayoría de los vuelos desde los EAU duran cuatro
        horas o menos hasta los principales centros de negocios de Oriente Medio
        y Norte de África. Es un enlace clave de la aviación, es una gran manera
        de llegar a cualquier parte del mundo.
      </p>
      <div class="ventajas__foto primera">
        <img src="../../../../../assets/img/porque/7.png" alt="" />
      </div>
    </div>
  </div>
  <div class="ventajas__contenedor__ocho">
    <div class="ventajas__tarjeta">
      <div class="ventajas__tarjeta segunda">
        <p class="numero">
          08
          <img
            src="../../../../../assets/img/porque/indicadores.svg"
            class="sol"
          />
        </p>

        <p class="titulo">CRECIMIENTO ECONÓMICO Y ESTABILIDAD</p>
        <p class="texto">
          Los inversores eligen Dubai por el continuo crecimiento y la
          estabilidad de la economía. Como centro turístico y comercial de
          Oriente Medio, cuenta con una de las economías más diversificadas, que
          atrae anualmente un gran volumen de inversión extranjera. No es de
          extrañar que Dubái ocupara el primer puesto en 2021 en cuanto a la
          atracción de proyectos de inversión extranjera directa
        </p>
        <div class="ventajas__foto segunda">
          <img src="../../../../../assets/img/porque/8.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="ventajas__contenedor__nueve">
    <div class="ventajas__tarjeta primera">
      <p class="numero">
        09 <img src="../../../../../assets/img/porque/lupa.svg" class="sol" />
      </p>

      <p class="titulo">MERCADO REGULADO</p>
      <p class="texto">
        El mercado inmobiliario de Dubai ha sido calificado como el más
        transparente de Oriente Medio y el Norte de África. En estos momentos,
        el mercado se encuentra en un punto álgido sin signos de desaceleración.
        Mediante iniciativas y reglamentos nuevos y revisados, el gobierno está
        mejorando la transparencia del mercado. Este mismo año, todos los datos
        inmobiliarios están ahora a disposición del público gracias a una nueva
        iniciativa del Departamento de Tierras de Dubai (DLD). En los últimos
        años, Dubai se ha convertido en una de las ciudades más dinámicas del
        mundo y ha atraído a inversores de todo el mundo. Estos factores crean
        una plétora de oportunidades para los inversores inmobiliarios que
        buscan aprovechar el floreciente mercado inmobiliario de Dubai.
      </p>
      <div class="ventajas__foto primera">
        <img src="../../../../../assets/img/porque/9.png" alt="" />
      </div>
    </div>
  </div>
</section>
