<section class="banner">
  <img src="../../../../../assets/img/proyectos/raya_banner.jpg" alt="">
</section>
<section class="resumen">
  <div class="resumen__texto">
    <h2>AVANZA CON TU GRANDEZA</h2>
    <P>Idealmente situado en el cruce entre Dubai y Abu Dhabi. Además del campo de golf de 18 hoyos en su puerta, Urbana III, está a sólo unos momentos de la mundialmente importante Expo 2021 y del Aeropuerto Internacional Al Maktoum.</P>
    <div class="resumen__contenedor-tarjetas">
      <div class="resumen__tarjeta">
        <div class="resumen__icono mezquita"></div>
        <h6 class="resumen__numero">05</h6>
        <p class="resumen__tarjeta-texto">MINUTOS DEL GLOBAL VILLAGE</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono edificio"></div>
        <h6 class="resumen__numero">20</h6>
        <p class="resumen__tarjeta-texto">MINUTOS DEL CENTRO DE DUBAI</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono caballo"></div>
        <h6 class="resumen__numero">10</h6>
        <p class="resumen__tarjeta-texto">MINUTOS DEL CLUB DE POLO Y EQUITACIÓN</p>
      </div>
      <div class="resumen__tarjeta">
        <div class="resumen__icono avion"></div>
        <h6 class="resumen__numero">20</h6>
        <p class="resumen__tarjeta-texto">MINUTOS DEL AEROPUERTO</p>
      </div>
    </div>
  </div>
  <div class="resumen__imagen">
    <div class="resumen__imagen-marco"></div>
    <img src="../../../../../assets/img/proyectos/raya_resumen.jpg" alt="">
  </div>
</section>
<section class="descripcion">
  <div class="descripcion__contenedor">
    <div class="descripcion__info">
      <div class="descripcion__imagen">
        <img src="../../../../../assets/img/proyectos/escuadra.svg" alt="" class="escuadra">
        <img src="../../../../../assets/img/proyectos/puntos.svg" alt="" class="puntos">
      </div>
      <div class="descripcion__texto">
        <h2><span>UN ESPACIO PARA VIVIR</span><br> O UNA INVERSIÓN APASIONANTE. TÚ ELIGES.</h2>
        <p>Las casas adosadas de Urbana están conectadas por una red de caminos que son ideales para un paseo vespertino o para hacer una caminata entre las cuidadas zonas verdes.</p>
        <table>
          <thead>
            <th>Unit</th>
            <th>Area sq.ft</th>
            <th>Starting Price (Dirhams)</th>
            <th>Starting Price (USD)</th>
          </thead>
          <tbody>
            <tr>
              <td>2BR</td>
              <td>1159-1836</td>
              <td>Dirhams 1,150,000</td>
              <td>$315,068</td>
            </tr>
          </tbody>
        </table>
        <form action="">
          <label for="email"><p>Reciba más información</p></label>
          <input type="email" name="email" id="email" placeholder="EMAIL">
          <button>ENVIAR</button>
        </form>
      </div>
    </div>
    <img src="../../../../../assets/img/proyectos/fondo_lateral.svg" alt="" class="descripcion__columna">
  </div>
  <div class="descripcion__botones">
    <a href=""><button class="reservar">RESERVE SU CITA</button></a>
    <a href=""><button class="asesor">CONTACTAR CON UN ASESOR</button></a>
  </div>
</section>
<section class="ubicacion">
  <img src="../../../../../assets/img/proyectos/raya_ubicacion.jpg" alt="">
</section>
