<section class="banner">
  <img src="../../../../../assets/img/proyectos/urbana_banner.jpg" alt="">
</section>
<section class="resumen">
  <div class="resumen__texto">
    <h2>AVANZA CON TU GRANDEZA</h2>
    <P>Idealmente situado en el cruce entre Dubai y Abu Dhabi. Además del campo de golf de 18 hoyos en su puerta, Urbana III, está a sólo unos momentos de la mundialmente importante Expo 2021 y del Aeropuerto Internacional Al Maktoum.</P>
  </div>
  <div class="resumen__imagen">
    <img src="../../../../../assets/img/proyectos/escuadra.svg" alt="" class="escuadra">
    <img src="../../../../../assets/img/proyectos/puntos.svg" alt="" class="puntos">
  </div>
</section>
<section class="descripcion">
  <div class="descripcion__contenedor">
    <div class="descripcion__info">
      <div class="descripcion__imagen">
        <img src="../../../../../assets/img/proyectos/escuadra.svg" alt="" class="escuadra">
        <img src="../../../../../assets/img/proyectos/puntos.svg" alt="" class="puntos">
      </div>
      <div class="descripcion__texto">
        <h2><span>UN ESPACIO PARA VIVIR</span><br> O UNA INVERSIÓN APASIONANTE. TÚ ELIGES.</h2>
        <p>Las casas adosadas de Urbana están conectadas por una red de caminos que son ideales para un paseo vespertino o para hacer una caminata entre las cuidadas zonas verdes.</p>
        <table>
          <thead>
            <th>Unidad</th>
            <th>Área m2</th>
            <th>Precio (En Dirhams)</th>
            <th>Precio (En USD)</th>
          </thead>
          <tbody>
            <tr>
              <td>2BR</td>
              <td>1159-1836</td>
              <td>Dirhams 1,150,000</td>
              <td>$315,068</td>
            </tr>
          </tbody>
        </table>
        <form method="post"
        action="https://api.sheetmonkey.io/form/fGosvRA5yMXWcW2h3iaj6X">
          <label for="email"><p>Reciba más información</p></label>
          <input type="email" name="email" id="email" placeholder="EMAIL">
          <button>ENVIAR</button>
        </form>
      </div>
    </div>
    <img src="../../../../../assets/img/proyectos/fondo_lateral.svg" alt="" class="descripcion__columna">
  </div>
  <div class="descripcion__botones">
    <a href=""><button class="reservar">RESERVE SU CITA</button></a>
    <a href=""><button class="asesor">CONTACTAR CON UN ASESOR</button></a>
  </div>
</section>
<section class="ubicacion">
  <img
  src="../../../../../assets/img/proyectos/fondo_lateral.svg"
  alt=""
  class="ubicacion__columna left"
/>
  <img src="../../../../../assets/img/proyectos/urbana_ubicacion.jpg" alt="" />
  <img
  src="../../../../../assets/img/proyectos/fondo_lateral.svg"
  alt=""
  class="ubicacion__columna right"
/>
</section>
