<section class="footer" id="footer">
  <div class="footer__logo">
    <img src="../../../../../assets/img/logo_headerr.svg" class="logo" />
  </div>
  <div class="footer__encabezado">
    <p class="espectativas">UNA INVERSIÓN QUE EXCEDE LAS EXPECTATIVAS.</p>
    <h2>IMPULSAMOS EL FUTURO DE TU INVERSIÓN MIRÁNDOTE A LOS OJOS</h2>
  </div>
<div class="footer__contenedor">
    <div class="footer__fotos ceo">
        <img
          src="../../../../../assets/img/personas/elemento_ceo.svg"
          class="circulo"
        />
        <img src="../../../../../assets/img/personas/1.png" />
    
        <p class="nombre__ceo">Neerej Mishra</p>
        <p class="cargo__ceo">CEO SCORPION</p>
      </div>
      <div class="footer__fotos real">
        <img src="../../../../../assets/img/personas/2.png" />
        <img
          src="../../../../../assets/img/resumen-productos/flechas_raya.svg"
          class="circulo"
        />
        
    
        <p class="nombre__ceo">Martin</p>
        <p class="cargo__ceo">Real State Broker</p>
      </div>
      <div class="footer__fotos martin">
        <img src="../../../../../assets/img/personas/3.png" />
        <img
          src="../../../../../assets/img/personas/elemento_ceo.svg"
          class="circulo"
        />
        
    
        <p class="nombre__martin">Sunny Tyagi</p>
        <p class="cargo__martin">Real State Broker</p>
      </div>
      <div class="footer__fotos colombia">
        <img src="../../../../../assets/img/personas/4.png" />
        <img
          src="../../../../../assets/img/elemento_4.svg"
          class="circulo"
        />
        
    
        <p class="nombre__ceo">Johanna Toro Ruiz</p>
        <p class="cargo__ceo">Gerente Asdelogy Colombia</p>
      </div>
</div>
  

</section>
