@import "../../../../styles/variables";
.footer {
  padding: 100px 0;
  width: 100%;
  background: url(../../../../../assets/img/proyectos/fondo_footer.svg);
  background-size: cover;
  background-repeat: no-repeat;

  .footer__info {
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__logo {
      width: 30vw;
      img {
        &.logo {
          width: 20vw;
          margin-right: 100px;
        }
      }
    }
    .footer__encabezado {
      width: 50vw;
      p {
        &.expectativas {
          color: $dorado;
          font-size: 1.2rem;
          margin-bottom: 25px;
        }
      }
      h2 {
        font-size: 3.5rem;
        color: $azul;
        letter-spacing: 0.7rem;
      }
    }
  }
  .footer__contenedor {
    margin: 150px 0px;
    display: flex;
    justify-content: space-evenly;

    .footer__fotos {
      width: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 50px;
      img {
        width: 140px;
        position: relative;
        z-index: 2;
        &.circulo {
          height: 60px;
          width: auto;
          position: absolute;
          z-index: 1;
        }
      }
      p {
        text-align: left;
        &.nombre {
          align-self: flex-start;
          margin-top: 50px;
          font-family: Apollo;
          letter-spacing: 3px;
          font-weight: 600;
          color: $azul;
        }
        &.cargo {
          align-self: flex-start;
          font-family: Poppins;
          letter-spacing: 3px;
          color: $gris;
          font-size: 0.8rem;
        }
      }
      &.ceo {
        img.circulo {
          transform: translate(-70px, 30px);
        }
      }
      &.martin {
        img.circulo {
          transform: translate(-60px, 90px);
          z-index: 3;
        }
      }
      &.sunny {
        img.circulo {
          transform: translate(50px, 90px);
          z-index: 3;
        }
      }
      &.johanna {
        img.circulo {
          transform: translate(-70px, 10px);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    background: none;
    .footer__info {
      flex-direction: column;
      align-items: center;
      .footer__logo {
        width: auto;
        img {
          &.logo {
            width: 80vw;
            margin-right: 0;
          }
        }
      }
      .footer__encabezado {
        width: auto;
        margin-top: 25px;
        text-align: center;
        h2 {
          display: inline-block;
          width: 85%;
          font-size: 2rem;
          color: $azul;
        }
      }
    }
    .footer__contenedor {
      flex-wrap: wrap;
      margin: 100px 0 0 0;
      .footer__fotos {
        margin-bottom: 50px;
      }
    }
  }
}
