@import "../../../../styles/variables";
.footer {
  padding: 50px 0;
  width: 100%;
  height: 100vh;
  background: url(../../../../../assets/img/resumen-productos/fondo_resumen.svg);
  background-size: 100%;

  .footer__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img {
      &.logo {
        width: 17vw;
        margin-left: 20vw;
        position: relative;
        top: 10vh;
        right: 25vw;
      }
    }
  }
  .footer__encabezado {
    p {
      &.espectativas {
        margin-left: 50vw;
        margin-top: -11vw;
        color: $dorado;
      }
    }
    h2 {
      width: 28vw;
      font-size: 2rem;
      color: $azul;
      margin-bottom: -50vw;
      margin-left: 50vw;
    }
  }
  .footer__fotos {
    margin-top: 65vw;
    &.ceo {
      img {
        width: 10vw;
        margin-left: 15vw;

        &.circulo {
          position: absolute;
          margin-top: 2vw;
          margin-left: 12vw;
          width: 5vw;
          transform: rotate(270deg);
          z-index: -1;
        }
        &.real {
          margin-top: -90vw;
          margin-left: 49vw;
        }
      }
      p {
        &.nombre__ceo {
          margin-top: 2vw;
          margin-left: 13vw;
          font-size: 2rem;
        }
        &.cargo__ceo {
          margin-left: 13vw;
          color: $gris;
          font-size: 2rem;
          padding-bottom: 3vw;
        }
      }
    }
    &.real {
      margin-top: -20vw;
      margin-left: 20vw;
      img {
        width: 10vw;
        margin-left: 15vw;

        &.circulo {
          margin-top: 2vw;
          margin-left: -13vw;
          width: 5vw;

          z-index: -1;
        }
      }
      p {
        &.nombre__ceo {
          margin-top: 2vw;
          margin-left: 15vw;
          font-size: 2rem;
        }
        &.cargo__ceo {
          margin-left: 12vw;
          color: $gris;
          font-size: 2rem;
          padding-bottom: 3vw;
        }
      }
    }
    &.martin {
        margin-top: -20vw;
        margin-left: 40vw;
        img {
          width: 10vw;
          margin-left: 13vw;
  
          &.circulo {
            margin-top: 2vw;
            margin-left: -4vw;
            width: 5vw;
  
            z-index: -1;
          }
        }
        p {
          &.nombre__martin {
            margin-top: 2vw;
            margin-left: 14vw;
            font-size: 2rem;
          }
          &.cargo__martin {
            margin-left: 12vw;
            color: $gris;
            font-size: 2rem;
            padding-bottom: 3vw;
          }
        }
      }
      &.colombia {
        margin-top: -20vw;
        margin-left: 60vw;
        img {
          width: 10vw;
          margin-left: 15vw;
  
          &.circulo {
              position: absolute;
            margin-top: -0.5vw;
            margin-left: -12vw;
            width: 5vw;
  
            z-index: -1;
          }
        }
        p {
          &.nombre__ceo {
            margin-top: 2vw;
            margin-left: 12vw;
            font-size: 2rem;
          }
          &.cargo__ceo {
            margin-left: 10vw;
            color: $gris;
            font-size: 2rem;
            padding-bottom: 3vw;
          }
        }
      }
  }
}
