@import "../../../../styles/variables";
.footer {
  padding: 50px 0;
  width: 100%;
  background: url(../../../../../assets/img/resumen-productos/fondo_resumen.svg);
  background-size: cover;
  background-repeat: no-repeat;

  .footer__info {
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__logo {
      img {
        &.logo {
          width: 200px;
          margin-right: 150px;
        }
      }
    }
    .footer__encabezado {
      p {
        &.expectativas {
          color: $dorado;
        }
      }
      h2 {
        width: 28vw;
        font-size: 2rem;
        color: $azul;
      }
    }
  }
  .footer__contenedor {
    margin: 150px 50px;
    display: flex;
    justify-content: center;

    .footer__fotos {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 50px;
      img {
        width: 180px;
        position: relative;
        z-index: 2;
        &.circulo {
          height: 90px;
          width: auto;
          position: absolute;
          z-index: 1;
        }
      }
      p {
        text-align: center;
        &.nombre {
          margin-top: 50px;
          font-family: Apollo;
          letter-spacing: 3px;
          font-weight: 600;
          color: $azul;
        }
        &.cargo {
          font-family: Poppins;
          letter-spacing: 3px;
          color: $gris;
          font-size: 0.8rem;
        }
        &.nacionalidad {
          font-family: Poppins;
          letter-spacing: 3px;
          color: $gris;
          font-size: 0.5rem;
        }
      }
      &.ceo {
        img.circulo {
          transform: translate(-100px, 30px);
        }
      }
      &.martin {
        img.circulo {
          transform: translate(-80px, 120px);
          z-index: 3;
        }
      }
      &.sunny {
        img.circulo {
          transform: translate(70px, 100px);
          z-index: 3;
        }
      }
      &.johanna {
        img.circulo {
          transform: translate(-90px, 10px);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    .footer__info {
      flex-direction: column;
      .footer__logo {
        img {
          &.logo {
            margin-right: 0;
          }
        }
      }
      .footer__encabezado {
        margin-top: 25px;
        text-align: center;
        h2 {
          display: inline-block;
          width: 85%;
          font-size: 2rem;
          color: $azul;
        }
      }
    }
    .footer__contenedor {
      flex-wrap: wrap;
      .footer__fotos {
        margin-bottom: 50px;
      }
    }
  }
}
