@import "../../../../styles/variables";

.resumen-productos {
  h2 {
    padding: 100px 25%;
    text-align: center;
    font-size: 3.2rem;
    color: $azul;
    background: $crema;
    span {
      color: $dorado;
    }
  }
  img {
    &.fondo {
      position: absolute;
      top: 111.5vw;
      left: 0;
      z-index: 1;
    }
  }
  .resumen-productos__contenedor {
    .resumen-productos__tarjeta {
      width: 100%;
      height: 80vh;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 150px;
      img {
        width: 80vh;
        transition: ease-in-out 1s;
        &.raya:hover,
        &.urbana:hover,
        &orania:hover,
        &hills:hover {
          transform: scale(1.03);
        }
      }
      .resumen-productos__tarjeta-texto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        h3 {
          font-size: 4.5rem;
          color: $dorado;
        }
        p {
          color: $azul;
          font-weight: 700;

          &:nth-child(2) {
            color: $gris;
            &.p__raya__1 {
              margin-left: 10vw;
            }
            &.p__orania__1 {
              margin-left: 10vw;
            }
            &.p__hills__1 {
              margin-left: 5vw;
            }
          }
          &:nth-child(3) {
            padding: 10px;
            color: $dorado;
            margin-left: 10vw;
            img {
              &.pin {
                width: 20px;
              }
              &.pin__urbana {
                margin-left: -4vw;
                width: 20px;
              }
              &.pin__orania {
                width: 20px;
                margin-left: 2vw;
              }
              &.pin__hills {
                width: 20px;
                margin-left: -5vw;
              }
            }
          }
        }
        .ver {
          margin: 20px;
          width: 40%;
          color: $dorado;
          background-color: $crema;
          border-radius: 30px 0 30px 0;
          border-color: $dorado;
          background: linear-gradient(to rigath, transparent 50%, $dorado 50%);
          background-size: 200%;
          background-position: left;
          transition: background-color 0.5s ease-in-out;
        }
        .ver:hover {
          background-color: $dorado;
          background-position: right;
          color: $crema;
          font-weight: 700;
        }
        table {
          margin-top: 25px;
          border-spacing: 0px;
          border: 2px solid $dorado;
          border-radius: 20px 0 20px 0;
          text-align: center;
          font-family: Poppins;
          font-size: 0.8rem;
          thead {
            background: $gris_tabla;
            color: $dorado;
            th {
              padding: 15px 15px;
            }
            th:first-child {
              border-radius: 20px 0 0px 0;
            }
          }
          tbody {
            tr {
              td {
                color: $dorado;
                padding: 5px 10px;
              }
            }
          }
        }
      }
      &.raya {
        background: $crema;
      }
      &.urbana {
        background: white;
      }
      &.raya,
      &.orania {
        .resumen-productos__tarjeta-texto {
          text-align: ce;
        }
        .ver {
          margin: 20px;
          width: 40%;
          color: $dorado;
          background-color: $crema;
          border-radius: 30px 0 30px 0;
          border-color: $dorado;
          background: linear-gradient(to rigath, transparent 50%, $dorado 50%);
          background-size: 200%;
          background-position: left;
          transition: background-color 0.5s ease-in-out;
        }
        .ver:hover {
          background-color: $dorado;
          background-position: right;
          color: $crema;
          font-weight: 700;
        }
        img {
          &.logo__orania {
            width: 200px;
            position: relative;
            top: -15px;
            left: 200px;
          }
          &.logo__raya {
            width: 200px;
            position: relative;
            top: -15px;
            left: 200px;
          }
        }
      }
      &.urbana,
      &.hills {
        flex-direction: row-reverse;
      }
      img {
        &.logo__hils {
          width: 200px;
          position: relative;
          top: -15px;
          left: 100px;
        }
        &.logo__urban {
          width: 200px;
          top: -15px;
          left: 100px;
          position: relative;
        }
      }

      .resumen-productos__imagen {
        width: 35vw;
        height: 35vw;
        .resumen-productos__foto {
          width: 35vw;
          height: 35vw;
          position: absolute;
          z-index: 2;
          &.raya {
            background: url(../../../../../assets/img/resumen-productos/img1.png);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
            animation: slide__raya 8s infinite;
          }
          @keyframes slide__raya {
            50% {
              background: url(../../../../../assets/img/resumen-productos/img1-1.png);
              background-position: right;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
          &.urbana {
            background: url(../../../../../assets/img/resumen-productos/img2.png);
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: -1vw;
            animation: slide__urbana 8s infinite;
          }
          @keyframes slide__urbana {
            50% {
              background: url(../../../../../assets/img/resumen-productos/img2-1.png);
              background-position: left;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
          &.orania {
            background: url(../../../../../assets/img/resumen-productos/img3.png);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
            animation: slide__orania 8s infinite;
          }
          @keyframes slide__orania {
            50% {
              background: url(../../../../../assets/img/resumen-productos/img3-1.png);
              background-position: right;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
          &.hills {
            background: url(../../../../../assets/img/resumen-productos/img4.png);
            background-position: left;
            background-size: cover;
            background-repeat: no-repeat;
            animation: slide__hills 8s infinite;
          }
          @keyframes slide__hills {
            50% {
              background: url(../../../../../assets/img/resumen-productos/img4-1.png);
              background-position: left;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }

        .ondas {
          width: 22vw;
          position: relative;
          top: 0vw;
          left: -7.5vw;
          z-index: 1;
        }
        .flechas {
          width: 11vw;
          position: relative;
          top: 26vw;
          left: -28vw;
          z-index: 3;
        }
        .abanicos {
          width: 12vw;
          position: relative;
          top: 19vw;
          left: 20vw;
          z-index: 3;
        }
        .ondas-marco {
          width: 18vw;
          position: relative;
          top: -6vw;
          left: -1vw;
          z-index: 1;
        }
        .puntos {
          width: 10vw;
          position: relative;
          top: 27vw;
          left: -15vw;
          z-index: 3;
        }
        .puntos_hills {
          width: 10vw;
          position: relative;
          top: -150vw;
          left: -15vw;
          z-index: 3;
        }
        .escuadra {
          width: 13vw;
          position: relative;
          top: 13vw;
          left: 25vw;
          z-index: 3;
        }
        .ondas-arriba {
          width: 11vw;
          position: relative;
          top: -18vw;
          left: 19vw;
          z-index: 1;
        }
        .flecha {
          width: 9vw;
          position: relative;
          top: 17vw;
          left: -17vw;
          z-index: 3;
        }
      }
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .resumen-productos {
    h2 {
      padding: 100px 10%;
    }
    .resumen-productos__contenedor {
      .resumen-productos__tarjeta {
        height: unset;
        flex-direction: column-reverse;
        .resumen-productos__imagen {
          width: 70vw;
          height: 70vw;

          .resumen-productos__foto {
            width: 70vw;
            height: 70vw;
          }
          .ondas {
            width: 44vw;
          }
          .flechas {
            width: 22vw;
            top: 52vw;
            left: -56vw;
          }
          .abanicos {
            width: 24vw;
            top: 38vw;
            left: 40vw;
          }
          .flecha {
            width: 18vw;
            top: 34vw;
            left: -34vw;
          }
          .ondas-arriba {
            width: 22vw;
            top: -36vw;
            left: 38vw;
          }
          .ondas-marco {
            width: 36vw;
            top: -7vw;
            left: -12vw;
          }
          .puntos {
            width: 20vw;
            top: 52vw;
            left: -30vw;
          }
          .escuadra {
            width: 21vw;
            top: 30vw;
            left: 31vw;
          }
        }
        .resumen-productos__tarjeta-texto {
          margin: 100px 0;
          align-items: center;
          p {
            &:nth-child(2) {
              &.p__raya__1 {
                margin-left: 0vw;
              }
              &.p__orania__1 {
                margin-left: 0vw;
              }
              &.p__hills__1 {
                margin-left: 0vw;
              }
            }
            &:nth-child(3) {
              padding: 10px 0;
              margin-left: 0vw;
              img {
                &.pin {
                  width: 20px;
                }
                &.pin__urbana {
                  margin-left: 0vw;
                  width: 20px;
                }
                &.pin__orania {
                  width: 20px;
                  margin-left: 0vw;
                }
                &.pin__hills {
                  width: 20px;
                  margin-left: 0vw;
                }
              }
            }
          }
          table {
            width: 85%;
          }
        }
        &.raya,
        &.orania {
          .resumen-productos__tarjeta-texto {
            align-items: center;
          }
          img {
            &.logo__orania {
              position: unset;
            }
            &.logo__raya {
              position: unset;
            }
          }
        }
        &.urbana,
        &.hills {
          flex-direction: column-reverse;
          text-align: center;
        }
        img {
          &.logo__hils {
            position: unset;
          }
          &.logo__urban {
            position: unset;
          }
        }
      }
    }
  }
}
