<section class="resumen-productos">
  <img src="../../../../../assets/img/resumen-productos/fondo_resumen.svg" class="fondo">
  <h2>RESERVAMOS <span>4 JOYAS</span> DE LA CORONA EMAAR</h2>
  <div class="resumen-productos__contenedor">
    <div class="resumen-productos__tarjeta raya">
      <div class="resumen-productos__tarjeta-texto">
        <img src="../../../../../assets/img/resumen-productos/logo-raya.svg" class="logo__raya">
        <p>El corazón verde de Dubai</p>
        <p> <img src="../../../../../assets/img/resumen-productos/pin.svg" class="pin"> Dubai Hills Estates</p>
        <table>
          <thead>
            <th>Unit</th>
            <th>Area sq.ft</th>
            <th>Starting Price (AED)</th>
            <th>Starting Price (USD)</th>
          </thead>
          <tbody>
            <tr>
              <td>3BR Townhouse</td>
              <td>1877-1994</td>
              <td>AED 1,950,888</td>
              <td>$534,490</td>
            </tr>
            <tr>
              <td>4BR Townhouse</td>
              <td>2347-2354</td>
              <td>AED 2,539,888</td>
              <td>$695,860</td>
            </tr>
          </tbody>
        </table>
        <button class="ver">VER PROYECTO</button>
      </div>
      <div class="resumen-productos__imagen">
        <div class="resumen-productos__foto raya"></div>
        <img src="../../../../../assets/img/resumen-productos/ondas_raya.svg" alt="" class="ondas"/>
        <img src="../../../../../assets/img/resumen-productos/flechas_raya.svg" alt="" class="flechas"/>
        <img src="../../../../../assets/img/resumen-productos/abanicos_raya.svg" alt="" class="abanicos"/>
      </div>
    </div>
    <div class="resumen-productos__tarjeta urbana">
      <div class="resumen-productos__tarjeta-texto">
        <img src="../../../../../assets/img/resumen-productos/logo-urbanalll.svg" class="logo__urban">
        <p>Encuéntrate a ti mismo en un oasis resplandeciente</p>
        <p><img src="../../../../../assets/img/resumen-productos/pin.svg" class="pin"> Emaar South</p>
        <table>
          <thead>
            <th>Unit</th>
            <th>Area sq.ft</th>
            <th>Starting Price (AED)</th>
            <th>Starting Price (USD)</th>
          </thead>
          <tbody>
            <tr>
              <td>2BR</td>
              <td>1159-1836</td>
              <td>AED 1,150,000</td>
              <td>$315,068</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="resumen-productos__imagen">
        <div class="resumen-productos__foto urbana"></div>
        <img src="../../../../../assets/img/resumen-productos/ondas_urbana.svg" alt="" class="ondas-marco"/>
        <img src="../../../../../assets/img/resumen-productos/puntos_urbana.svg" alt="" class="puntos"/>
        <img src="../../../../../assets/img/resumen-productos/escuadra_urbana.svg" alt="" class="escuadra"/>
      </div>
    </div>
    <div class="resumen-productos__tarjeta orania">
      <div class="resumen-productos__tarjeta-texto">
        <img src="../../../../../assets/img/resumen-productos/logo-the valley.svg" class="logo__orania">
        <p>Los sueños comienzan aquí</p>
        <p><img src="../../../../../assets/img/resumen-productos/pin.svg" class="pin"> The Valley</p>
        <table>
          <thead>
            <th>Unit</th>
            <th>Area sq.ft</th>
            <th>Starting Price (AED)</th>
            <th>Starting Price (USD)</th>
          </thead>
          <tbody>
            <tr>
              <td>3BR Townhouse</td>
              <td>1896-2044</td>
              <td>AED 1,528,888</td>
              <td>$418,873</td>
            </tr>
            <tr>
              <td>4BR Townhouse</td>
              <td>2265-2346</td>
              <td>AED 1,944,888</td>
              <td>$532,846</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="resumen-productos__imagen">
        <div class="resumen-productos__foto orania"></div>
        <img src="../../../../../assets/img/resumen-productos/ondas_orania.svg" alt="" class="ondas-arriba"/>
        <img src="../../../../../assets/img/resumen-productos/flecha.svg" alt="" class="flecha"/>
      </div>
    </div>
    <div class="resumen-productos__tarjeta hills">
      <div class="resumen-productos__tarjeta-texto">
        <img src="../../../../../assets/img/resumen-productos/logo-hills park.svg" class="logo__hils">
        <p>El corazón verde de Dubai</p>
        <p><img src="../../../../../assets/img/resumen-productos/pin.svg" class="pin"> Dubai Hills Estates</p>
        <table>
          <thead>
            <th>Unit</th>
            <th>Area sq.ft</th>
            <th>Starting Price (AED)</th>
            <th>Starting Price (USD)</th>
          </thead>
          <tbody>
            <tr>
              <td>1BR</td>
              <td>673-676</td>
              <td>AED 1,210,000</td>
              <td>$331,507</td>
            </tr>
            <tr>
              <td>2BR</td>
              <td>989-1073</td>
              <td>AED 1,740,000</td>
              <td>$476,712</td>
            </tr>
            <tr>
              <td>3BR</td>
              <td>1683-1777</td>
              <td>AED 2,960,000</td>
              <td>$810,959</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="resumen-productos__imagen">
        <div class="resumen-productos__foto hills"></div>
        <!-- <img src="../../../../../assets/img/resumen-productos/ondas_orania.svg" alt="" class="ondas-arriba"/> -->
        <!-- <img src="../../../../../assets/img/resumen-productos/flecha.svg" alt="" class="flecha"/> -->
      </div>
    </div>
  </div>
</section>
