@import "../../../../styles/variables";

.resumen-productos {
  padding-top: 100px;
  h2 {
    padding: 100px 25%;
    text-align: center;
    font-size: 3.2rem;
    color: $azul;
    background: $crema;
    span {
      color: $dorado;
    }
  }
  img{
    &.fondo{
     
          position: relative;
          top: 42.8vw;
          left: 0;
          z-index: 2;
    }
    
  }
  .resumen-productos__contenedor {

    .resumen-productos__tarjeta {
      width: 100%;
      height: 80vh;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 150px;
      img {
        width: 80vh;
        transition: ease-in-out 1s;
        &.raya:hover,
        &.urbana:hover,
        &orania:hover,
        &hills:hover {
          transform: scale(1.03);
        }
      }
      .resumen-productos__tarjeta-texto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        h3 {
          font-size: 4.5rem;
          color: $dorado;
        }
        p {
          color: $azul;
          font-weight: 700;
          &:nth-child(2) {
            color: $gris;
          }
          &:nth-child(3){
            padding: 10px;
            color: $dorado;
            img{
              &.pin{
                width: 20px;
              }
            }
          }
        }
        table {
          margin-top: 25px;
          border-spacing: 0px;
          border: 2px solid $dorado;
          border-radius: 20px 0 20px 0;
          text-align: center;
          font-family: Poppins;
          font-size: 0.8rem;
          thead {
            background: $crema;
            color: $dorado;
            th {
              padding: 15px 15px;
            }
            th:first-child {
              border-radius: 20px 0 0px 0;
            }
          }
          tbody {
            tr {
              td {
                color: $dorado;
                padding: 5px 10px;
              }
            }
          }
        }
      }
      &.raya {
        background: $crema;
      }
      &.urbana {
        background: white;
      }
      &.raya,
      &.orania {
        .resumen-productos__tarjeta-texto {
          text-align: right;
        }
        button{
          &.ver{
            margin: 20px;
            background-color: $crema;
            border-radius: 30px 0 30px 0;
            border-color: $dorado;
          }
        }
        img{
          &.logo__orania{
            width: 200px;
            position: relative;
            top: -15px;
            left: 200px;
          }
          &.logo__raya{
            width: 200px;
            position: relative;
            top: -15px;
            left: 200px;
          }
         
        }
      }
      &.urbana,
      &.hills {
        flex-direction: row-reverse;
      }
      img{
        &.logo__hils{
          width: 200px;
          position: relative;
          top: -15px;
          left: 100px;
        }
        &.logo__urban{
          width: 200px;
          top: -15px;
          left: 100px;
          position: relative;
        }
      }

      .resumen-productos__imagen {
        width: 35vw;
        height: 35vw;
        .resumen-productos__foto {
          width: 35vw;
          height: 35vw;
          position: absolute;
          z-index: 2;
          &.raya {
            background: url(../../../../../assets/img/resumen-productos/raya.png);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.urbana {
            background: url(../../../../../assets/img/resumen-productos/urbana.png);
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: -1vw;
          }
          &.orania {
            background: url(../../../../../assets/img/resumen-productos/orania.png);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.hills {
            background: url(../../../../../assets/img/resumen-productos/orania.png);
            background-position: left;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
          }
        }
        
        .ondas {
          width: 22vw;
          position: relative;
          top: 0vw;
          left: 4vw;
          z-index: 1;
        }
        .flechas {
          width: 11vw;
          position: relative;
          top: 28vw;
          left: -20vw;
          z-index: 3;
        }
        .abanicos {
          width: 12vw;
          position: relative;
          top: 20vw;
          left: 23vw;
          z-index: 3;
        }
        .ondas-marco {
          width: 18vw;
          position: relative;
          top: -6vw;
          left: -1vw;
          z-index: 1;
        }
        .puntos {
          width: 2vw;
          position: relative;
          top: 18vw;
          left: -15vw;
          z-index: 3;
        }
        .escuadra {
          width: 13vw;
          position: relative;
          top: 4vw;
          left: 16vw;
          z-index: 3;
        }
        .ondas-arriba {
          width: 11vw;
          position: relative;
          top: -18vw;
          left: 19vw;
          z-index: 1;
        }
        .flecha {
          width: 9vw;
          position: relative;
          top: 17vw;
          left: -17vw;
          z-index: 3;
        }
      }
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }
}
