@import "../../../../styles/variables";

.resumen-productos {
  background: url(../../../../../assets/img/resumen-productos/fondo_resumen.svg);
  background-color: $crema;
  background-size: contain;
  background-repeat: no-repeat;
  h2 {
    width: fit-content;
    padding-top: 150px;
    font-size: 3.2rem;
    color: $azul;
    margin: 0 auto;
    letter-spacing: 0.8rem;
    span {
      color: $dorado;
    }
  }
  img {
    &.fondo {
      position: absolute;
      top: 111.5vw;
      left: 0;
      z-index: 1;
    }
  }
  .resumen-productos__contenedor {
    .resumen-productos__tarjeta {
      width: 100%;
      height: 120vh;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 80vh;
        transition: ease-in-out 1s;
      }
      .resumen-productos__tarjeta-texto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        .resumen-productos__logo {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          &.urbana,
          &.hills {
            img {
              &.soldout {
                display: none;
              }
            }
          }
          img {
            &.soldout {
              width: 80px;
              margin-right: 15px;
            }
            &.logo {
              margin: 50px 0;
              &.raya {
                width: 200px;
              }
              &.urbana {
                width: 300px;
              }
              &.orania {
                width: 300px;
              }
              &.hills {
                width: 300px;
              }
            }
          }
        }
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $azul;
          font-weight: 700;
          margin-bottom: 5px;
          .pin {
            width: 20px;
            margin-right: 5px;
          }
        }
        a {
          .ver {
            width: auto;
            margin: 50px 0;
            color: $dorado;
            background-color: transparent;
            border-radius: 30px 0 30px 0;
            border: 1px solid $dorado;
            padding: 15px 15px;
            letter-spacing: 0.2rem;
            transition: background-color 0.5s ease-in-out;
          }
          .ver:hover {
            background-color: $dorado;
            color: $crema;
          }
        }
        table {
          margin-top: 25px;
          border-spacing: 0px;
          border: 1px solid $gris_tabla;
          border-left: 0px;
          border-radius: 20px 0 20px 0;
          text-align: center;
          font-family: Poppins;
          font-size: 1rem;
          thead {
            background: $gris_tabla;
            color: $dorado;
            th {
              padding: 15px 15px;
            }
            th:first-child {
              border-radius: 20px 0 0px 0;
            }
          }
          tbody {
            tr {
              td {
                color: $dorado;
                border-left: 1px solid $gris_tabla;
                border-top: 1px solid $gris_tabla;
                padding: 10px 10px;
              }
            }
          }
        }
      }
      &.urbana,
      &.orania,
      &.hills {
        padding: 150px 0;
        background: white;
      }

      &.urbana,
      &.hills {
        flex-direction: row-reverse;
      }
      .resumen-productos__imagen {
        width: 40vw;
        height: 40vw;
        .resumen-productos__foto {
          width: 40vw;
          height: 40vw;
          position: absolute;
          z-index: 2;
          &.raya {
            background: url(../../../../../assets/img/resumen-productos/img1.png);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
            animation: slide__raya 8s infinite;
          }
          @keyframes slide__raya {
            50% {
              background: url(../../../../../assets/img/resumen-productos/img1-1.png);
              background-position: right;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
          &.urbana {
            background: url(../../../../../assets/img/resumen-productos/img2.png);
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: -1vw;
            animation: slide__urbana 8s infinite;
          }
          @keyframes slide__urbana {
            50% {
              background: url(../../../../../assets/img/resumen-productos/img2-1.png);
              background-position: left;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
          &.orania {
            background: url(../../../../../assets/img/resumen-productos/img3.png);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
            animation: slide__orania 8s infinite;
          }
          @keyframes slide__orania {
            50% {
              background: url(../../../../../assets/img/resumen-productos/img3-1.png);
              background-position: right;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
          &.hills {
            background: url(../../../../../assets/img/resumen-productos/img4.png);
            background-position: left;
            background-size: cover;
            background-repeat: no-repeat;
            animation: slide__hills 8s infinite;
          }
          @keyframes slide__hills {
            50% {
              background: url(../../../../../assets/img/resumen-productos/img4-1.png);
              background-position: left;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }

        .ondas {
          width: 27vw;
          position: relative;
          top: 0vw;
          left: -7vw;
          z-index: 1;
        }
        .flechas {
          width: 11vw;
          position: relative;
          top: 30vw;
          left: -33vw;
          z-index: 3;
        }
        .abanicos {
          width: 13vw;
          position: relative;
          top: 22vw;
          left: 24vw;
          z-index: 3;
        }
        .ondas-marco {
          width: 22vw;
          position: relative;
          top: -5vw;
          left: -1vw;
          z-index: 1;
        }
        .puntos {
          width: 10vw;
          position: relative;
          top: 26vw;
          left: -18vw;
          z-index: 3;
        }
        .puntos_hills {
          width: 10vw;
          position: relative;
          top: -150vw;
          left: -15vw;
          z-index: 3;
        }
        .escuadra {
          width: 12vw;
          position: relative;
          top: 13vw;
          left: 29vw;
          z-index: 3;
        }
        .ondas-arriba {
          width: 16vw;
          position: relative;
          top: -18vw;
          left: 24vw;
          z-index: 1;
        }
        .flecha {
          width: 8vw;
          position: relative;
          top: 28vw;
          left: -22vw;
          z-index: 3;
        }
        .puntos-escuadra {
          width: 13vw;
          position: relative;
          top: 29vw;
          left: 27vw;
          z-index: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .resumen-productos {
    background: none;
    background-color: $crema;
    h2 {
      padding: 50px 10%;
      font-size: 1.5rem;
    }
    .resumen-productos__contenedor {
      .resumen-productos__tarjeta {
        height: unset;
        flex-direction: column-reverse;
        padding-top: 50px;
        height: auto;
        &.urbana,
        &.orania,
        &.hills {
          padding-top: 100px;
          padding-bottom: 0;
        }
        .resumen-productos__imagen {
          width: 80vw;
          height: 80vw;

          .resumen-productos__foto {
            width: 80vw;
            height: 80vw;
          }
          .ondas {
            width: 54vw;
            position: relative;
            top: 0vw;
            left: -14vw;
            z-index: 1;
          }
          .flechas {
            width: 22vw;
            position: relative;
            top: 60vw;
            left: -66vw;
            z-index: 3;
          }
          .abanicos {
            width: 28vw;
            position: relative;
            top: 42vw;
            left: 48vw;
            z-index: 3;
          }
          .ondas-marco {
            width: 44vw;
            position: relative;
            top: -10vw;
            left: -19vw;
            z-index: 1;
          }
          .puntos {
            width: 20vw;
            position: relative;
            top: 52vw;
            left: -46vw;
            z-index: 3;
          }
          .puntos_hills {
            width: 20vw;
            position: relative;
            top: -300vw;
            left: -30vw;
            z-index: 3;
          }
          .escuadra {
            width: 24vw;
            position: relative;
            top: 26vw;
            left: 31vw;
            z-index: 3;
          }
          .ondas-arriba {
            width: 45vw;
            position: relative;
            top: -19vw;
            left: 45vw;
            z-index: 1;
          }
          .flecha {
            width: 18vw;
            position: relative;
            top: 56vw;
            left: -56vw;
            z-index: 3;
          }
          .puntos-escuadra {
            width: 26vw;
            position: relative;
            top: 58vw;
            left: 27vw;
            z-index: 1;
          }
        }
        .resumen-productos__tarjeta-texto {
          width: 80vw;
          margin-top: 20px;
          border-bottom: 2px solid $dorado;
          align-items: center;
          img {
            max-width: 80vw;
          }
          p {
            img {
              &.pin {
                width: 20px;
              }
            }
          }
          table {
            width: 85%;
            font-size: 0.6rem;
          }
        }
        &.orania,
        &.hills {
          .resumen-productos__tarjeta-texto {
            align-items: center;
            .resumen-productos__logo {
              img {
                &.soldout {
                  width: 40px;
                }
                &.logo.orania {
                  width: 60vw;
                }
                &.logo__raya {
                }
              }
            }
          }
        }
        &.urbana,
        &.hills {
          flex-direction: column-reverse;
          text-align: center;
        }
        &.raya,
        &.hills {
          .resumen-productos__tarjeta-texto {
            border: 0px;
          }
        }
        img {
          &.logo__hils {
            position: unset;
          }
          &.logo__urban {
            position: unset;
          }
        }
      }
    }
  }
}
