<section class="resumen-productos">
  <h2>Reservamos 4 joyas de la corona Emaar</h2>
  <div class="resumen-productos__contenedor">
    <div class="resumen-productos__tarjeta raya">
      <img src="../../../../../assets/img/RAYA_RENDERS_ARTWORK2.jpg" alt="">
      <div class="resumen-productos__tarjeta-texto">
        <h3>Raya</h3>
        <p>El corazón verde de Dubai</p>
        <p>(gps) Dubai Hills Estates</p>
      </div>
    </div>
    <div class="resumen-productos__tarjeta urbana">
      <img src="../../../../../assets/img/ES_Urbana_III_Real_Views-01.jpg" alt="">
      <div class="resumen-productos__tarjeta-texto">
        <h3>Urbana</h3>
        <p>Encuéntrate a ti mismo en un oasis resplandeciente</p>
        <p>(gps) Emaar South</p>
      </div>
    </div>
    <div class="resumen-productos__tarjeta orania">
      <img src="../../../../../assets/img/ORANIA_THE_VALLEY_EMAAR_04.jpg" alt="">
      <div class="resumen-productos__tarjeta-texto">
        <h3>Orania</h3>
        <p>Los sueños comienzan aquí</p>
        <p>(gps) The Valley</p>
      </div>
    </div>
    <div class="resumen-productos__tarjeta hills">
      <img src="../../../../../assets/img/HILLS_PARK_DHE_03.jpg" alt="">
      <div class="resumen-productos__tarjeta-texto">
        <h3>Hills Park</h3>
        <p>El corazón verde de Dubai</p>
        <p>(gps) Dubai Hills Estates</p>
      </div>
    </div>
  </div>
</section>

