@import "../../../../styles/variables";

.resumen-productos {
  padding-top: 100px;
  h2 {
    padding: 0 25%;
    text-align: center;
    font-size: 3rem;
    color: $azul;
    span {
      color: $dorado;
    }
  }
  .resumen-productos__contenedor {
    padding: 200px 0;

    .resumen-productos__tarjeta {
      width: 100%;
      height: 80vh;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: -40px 0;
      img {
        width: 30vw;
        transition: ease-in-out 1s;
        &.raya:hover,
        &.urbana:hover,
        &orania:hover,
        &hills:hover {
          transform: scale(1.03);
        }
      }
      .resumen-productos__tarjeta-texto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        h3 {
          font-size: 4rem;
          color: $dorado;
        }
        p {
          color: $azul;
          font-weight: 700;
          &:nth-child(2) {
            color: $dorado;
          }
        }
        table {
          margin-top: 25px;
          border-spacing: 0px;
          border: 2px solid $dorado;
          border-radius: 20px 0 20px 0;
          text-align: center;
          font-family: Poppins;
          font-size: 0.8rem;
          thead {
            background: $crema;
            color: $dorado;
            th {
              padding: 15px 15px;
            }
            th:first-child {
              border-radius: 20px 0 20px 0;
            }
          }
          tbody {
            tr {
              td {
                color: $azul;
                padding: 5px 10px;
              }
            }
          }
        }
      }
      &.raya,
      &.orania {
        .resumen-productos__tarjeta-texto {
          text-align: right;
        }
      }
      &.urbana,
      &.hills {
        flex-direction: row-reverse;
      }

      .resumen-productos__imagen {
        width: 30vw;
        height: 30vw;
        .resumen-productos__foto {
          width: 30vw;
          height: 30vw;
          position: absolute;
          z-index: 2;
          &.raya {
            background: url(../../../../../assets/img/resumen-productos/raya.png);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.urbana {
            background: url(../../../../../assets/img/resumen-productos/urbana.png);
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: -1vw;
          }
          &.orania {
            background: url(../../../../../assets/img/resumen-productos/orania.png);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.hills {
            background: url(../../../../../assets/img/resumen-productos/orania.png);
            background-position: left;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
          }
        }
        .ondas {
          width: 15vw;
          position: relative;
          top: 1vw;
          left: 3vw;
          z-index: 1;
        }
        .flechas {
          width: 8vw;
          position: relative;
          top: 23vw;
          left: -12vw;
          z-index: 3;
        }
        .abanicos {
          width: 10vw;
          position: relative;
          top: 18vw;
          left: 20vw;
          z-index: 3;
        }
        .ondas-marco {
          width: 18vw;
          position: relative;
          top: -6vw;
          left: -1vw;
          z-index: 1;
        }
        .puntos {
          width: 2vw;
          position: relative;
          top: 18vw;
          left: -15vw;
          z-index: 3;
        }
        .escuadra {
          width: 13vw;
          position: relative;
          top: 4vw;
          left: 16vw;
          z-index: 3;
        }
        .ondas-arriba {
          width: 11vw;
          position: relative;
          top: -18vw;
          left: 19vw;
          z-index: 1;
        }
        .flecha {
          width: 9vw;
          position: relative;
          top: 17vw;
          left: -17vw;
          z-index: 3;
        }
      }
    }
    &:first-child {
      margin-top: 50px;
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }
}
