.resumen-productos {
  padding-top: 100px;
  h2 {
    text-align: center;
    font-size: 48px;
  }
  .resumen-productos__contenedor {
    padding: 200px 10vw 50px 10vw;

    .resumen-productos__tarjeta {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: -40px 0;
      img {
        width: 35vw;
        transition: ease-in-out 1s;
        &:hover {
          transform: scale(1.03);
        }
      }
      .resumen-productos__tarjeta-texto {
        width: 35vw;
      }
      &.raya,&.orania {
        .resumen-productos__tarjeta-texto {
          text-align: right;
        }
      }
      &.urbana,&.hills {
        flex-direction: row-reverse;
      }
    }
    &:first-child {
      margin-top: 50px;
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }
}
