<section class="propiedades">
  <ul>

    <a href="cove"
    ><li>
      <p>Dubai Creek Harbour</p>
      <h2 data-fill-text="THE COVE" class="cove">THE COVE</h2>
      <div class="propiedad__imagen cove"></div></li
    ></a>

    <a href="golf"
    ><li>
      <p>Emaar South</p>
      <h2 data-fill-text="GOLF HEIGHTS" class="golf">GOLF HEIGHTS</h2>
      <div class="propiedad__imagen golf"></div></li
    ></a>

    <a href="urbana"
      ><li>
        <p>Emaar South</p>
        <h2 data-fill-text="URBANA" class="urbana">URBANA</h2>
        <div class="propiedad__imagen urbana"></div></li
    ></a>

    <a href="hillsPark"
      ><li>
        <p>Dubai Hills Estate</p>
        <h2 data-fill-text="HILLS PARK" class="hills">HILLS PARK</h2>
        <div class="propiedad__imagen hills"></div></li
    ></a>

    <a
      ><li>
        <p>Dubai Hills Estate</p>
        <img src="../../../../../assets/img/soldout.svg" alt="" />
        <h2 data-fill-text="RAYA" class="raya">RAYA</h2>
        <div class="propiedad__imagen raya"></div></li
    ></a>

    <a
      ><li>
        <p>The Valley</p>
        <img src="../../../../../assets/img/soldout.svg" alt="" />
        <h2 data-fill-text="ORANIA" class="orania">ORANIA</h2>
        <div class="propiedad__imagen orania"></div></li
    ></a>
  </ul>
</section>
