<section class="propiedades">
  <ul>
    <a href="urbana"
      ><li>
        <p>Emaar South</p>
        <h2 data-fill-text="URBANA" class="urbana">URBANA</h2>
        <div class="propiedad__imagen urbana"></div></li
    ></a>

    <a href="hillsPark"
      ><li>
        <p>Dubai Hills Estates</p>
        <h2 data-fill-text="HILLS PARK" class="hills">HILLS PARK</h2>
        <div class="propiedad__imagen hills"></div></li
    ></a>

    <a
      ><li>
        <p>Dubai Hills Estates</p>
        <img src="../../../../../assets/img/soldout.svg" alt="" />
        <h2 data-fill-text="RAYA" class="raya">RAYA</h2>
        <div class="propiedad__imagen raya"></div></li
    ></a>

    <a
      ><li>
        <p>The Valley</p>
        <img src="../../../../../assets/img/soldout.svg" alt="" />
        <h2 data-fill-text="ORANIA" class="orania">ORANIA</h2>
        <div class="propiedad__imagen orania"></div></li
    ></a>
  </ul>
</section>
