<section class="propiedades">
  <ul>
    <li>
      <p>Dubai Hills Estates</p>
      <h2 data-fill-text="RAYA">RAYA</h2>
      <div class="propiedad__imagen raya"></div>
    </li>
    <li>
      <p>Emaar South</p>
      <h2 data-fill-text="URBANA">URBANA</h2>
      <div class="propiedad__imagen urbana"></div>
    </li>
    <li>
      <p>The Valley</p>
      <h2 data-fill-text="ORANIA">ORANIA</h2>
      <div class="propiedad__imagen orania"></div>
    </li>
    <li>
      <p>Dubai Hills Estates</p>
      <h2 data-fill-text="HILLS PARK">HILLS PARK</h2>
      <div class="propiedad__imagen hills"></div>
    </li>
  </ul>
</section>
