@import '../../../../styles/variables';

.propiedades {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 50px;
      p {
        color: $gris;
        transition: color 0.8s ease-in-out;
      }
      h2 {
        width: 60%;
        font-size: 4.5rem;
        font-weight: 400;
        position: relative;
      }
      .propiedad__imagen {
        width: 40vw;
        height: 40vw;
        position: absolute;
        right: 50px;
        top: 20vh;
        &.raya,&.urbana,&.orania,&.hills {
          opacity: 0;
        }
      }

      h2::before {
        content: attr(data-fill-text);
        position: absolute;
        height: 100%;
        color: white;
        overflow: hidden;
        -webkit-text-stroke: 0.3px $dorado;
        transition: height 0.8s ease-in-out;
      }

      &:hover {
        p {
          color: $azul;
        }
        h2::before {
          height: 0%;
          -webkit-text-stroke: 0.3px $azul;
        }
        .propiedad__imagen {
          opacity: 1;
          transition: opacity 2s ease-in-out;
          &.raya {
            background: url(../../../../../assets/RAYA.jpg);
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.urbana {
            background: url(../../../../../assets/urbana.jpg);
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.orania {
            background: url(../../../../../assets/orania.jpg);
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.hills {
            background: url(../../../../../assets/hills.jpg);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
